/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

.b--black {
  border-color: var(--black);
}
.b--near-black {
  border-color: var(--near-black);
}
.b--dark-gray {
  border-color: var(--dark-gray);
}
.b--mid-gray {
  border-color: var(--mid-gray);
}
.b--gray {
  border-color: var(--gray);
}
.b--silver {
  border-color: var(--silver);
}
.b--light-silver {
  border-color: var(--light-silver);
}
.b--moon-gray {
  border-color: var(--moon-gray);
}
.b--light-gray {
  border-color: var(--light-gray);
}
.b--near-white {
  border-color: var(--near-white);
}
.b--white {
  border-color: var(--white);
}

.b--white-90 {
  border-color: var(--white-90);
}
.b--white-80 {
  border-color: var(--white-80);
}
.b--white-70 {
  border-color: var(--white-70);
}
.b--white-60 {
  border-color: var(--white-60);
}
.b--white-50 {
  border-color: var(--white-50);
}
.b--white-40 {
  border-color: var(--white-40);
}
.b--white-30 {
  border-color: var(--white-30);
}
.b--white-20 {
  border-color: var(--white-20);
}
.b--white-10 {
  border-color: var(--white-10);
}
.b--white-05 {
  border-color: var(--white-05);
}
.b--white-025 {
  border-color: var(--white-025);
}
.b--white-0125 {
  border-color: var(--white-0125);
}

.b--black-90 {
  border-color: var(--black-90);
}
.b--black-80 {
  border-color: var(--black-80);
}
.b--black-70 {
  border-color: var(--black-70);
}
.b--black-60 {
  border-color: var(--black-60);
}
.b--black-50 {
  border-color: var(--black-50);
}
.b--black-40 {
  border-color: var(--black-40);
}
.b--black-30 {
  border-color: var(--black-30);
}
.b--black-20 {
  border-color: var(--black-20);
}
.b--black-10 {
  border-color: var(--black-10);
}
.b--black-05 {
  border-color: var(--black-05);
}
.b--black-025 {
  border-color: var(--black-025);
}
.b--black-0125 {
  border-color: var(--black-0125);
}

.b--dark-red {
  border-color: var(--dark-red);
}
.b--red {
  border-color: var(--red);
}
.b--light-red {
  border-color: var(--light-red);
}
.b--orange {
  border-color: var(--orange);
}
.b--gold {
  border-color: var(--gold);
}
.b--yellow {
  border-color: var(--yellow);
}
.b--light-yellow {
  border-color: var(--light-yellow);
}
.b--purple {
  border-color: var(--purple);
}
.b--light-purple {
  border-color: var(--light-purple);
}
.b--dark-pink {
  border-color: var(--dark-pink);
}
.b--hot-pink {
  border-color: var(--hot-pink);
}
.b--pink {
  border-color: var(--pink);
}
.b--light-pink {
  border-color: var(--light-pink);
}
.b--dark-green {
  border-color: var(--dark-green);
}
.b--green {
  border-color: var(--green);
}
.b--light-green {
  border-color: var(--light-green);
}
.b--navy {
  border-color: var(--navy);
}
.b--dark-blue {
  border-color: var(--dark-blue);
}
.b--blue {
  border-color: var(--blue);
}
.b--light-blue {
  border-color: var(--light-blue);
}
.b--lightest-blue {
  border-color: var(--lightest-blue);
}
.b--washed-blue {
  border-color: var(--washed-blue);
}
.b--washed-green {
  border-color: var(--washed-green);
}
.b--washed-yellow {
  border-color: var(--washed-yellow);
}
.b--washed-red {
  border-color: var(--washed-red);
}

.b--transparent {
  border-color: var(--transparent);
}
.b--inherit {
  border-color: inherit;
}

/* Socials */

.b--facebook {
  border-color: var(--facebook);
}
.b--messenger {
  border-color: var(--messenger);
}
.b--twitter {
  border-color: var(--twitter);
}
.b--linkedin {
  border-color: var(--linkedin);
}
.b--skype {
  border-color: var(--skype);
}
.b--dropbox {
  border-color: var(--dropbox);
}
.b--wordpress {
  border-color: var(--wordpress);
}
.b--vimeo {
  border-color: var(--vimeo);
}
.b--slideshare {
  border-color: var(--slideshare);
}
.b--vk {
  border-color: var(--vk);
}
.b--tumblr {
  border-color: var(--tumblr);
}
.b--googleplus {
  border-color: var(--googleplus);
}
.b--pinterest {
  border-color: var(--pinterest);
}
.b--youtube {
  border-color: var(--youtube);
}
.b--stumbleupon {
  border-color: var(--stumbleupon);
}
.b--reddit {
  border-color: var(--reddit);
}
.b--quora {
  border-color: var(--quora);
}
.b--yelp {
  border-color: var(--yelp);
}
.b--weibo {
  border-color: var(--weibo);
}
.b--producthunt {
  border-color: var(--producthunt);
}
.b--hackernews {
  border-color: var(--hackernews);
}
.b--soundcloud {
  border-color: var(--soundcloud);
}
.b--blogger {
  border-color: var(--blogger);
}
.b--whatsapp {
  border-color: var(--whatsapp);
}
.b--wechat {
  border-color: var(--wechat);
}
.b--line {
  border-color: var(--line);
}
.b--medium {
  border-color: var(--medium);
}
.b--vine {
  border-color: var(--vine);
}
.b--slack {
  border-color: var(--slack);
}
.b--instagram {
  border-color: var(--instagram);
}
.b--dribbble {
  border-color: var(--dribbble);
}
.b--flickr {
  border-color: var(--flickr);
}
.b--foursquare {
  border-color: var(--foursquare);
}
.b--behance {
  border-color: var(--behance);
}
.b--snapchat {
  border-color: var(--snapchat);
}

.b--primary {
  border-color: var(--primary);
}
.b--light-primary {
  border-color: var(--light-primary);
}
.b--dark-primary {
  border-color: var(--dark-primary);
}
.b--info {
  border-color: var(--info);
}
.b--success {
  border-color: var(--success);
}
.b--warning {
  border-color: var(--warning);
}
.b--error {
  border-color: var(--error);
}
