/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/

:root {
  --black: #000;
  --near-black: #111;
  --dark-gray: #333;
  --mid-gray: #555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;

  --transparent: transparent;

  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-05: rgba(0, 0, 0, 0.05);
  --black-025: rgba(0, 0, 0, 0.025);
  --black-0125: rgba(0, 0, 0, 0.0125);

  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-05: rgba(255, 255, 255, 0.05);
  --white-025: rgba(255, 255, 255, 0.025);
  --white-0125: rgba(255, 255, 255, 0.0125);

  --primary: #2d8cf0;
  --light-primary: #4096f1;
  --dark-primary: #2980db;
  --info: #2db7f5;
  --light-info: #40bdf5;
  --dark-info: #29a7df;
  --success: #19be6b;
  --light-success: #2dc378;
  --dark-success: #17ad62;
  --warning: #ff9900;
  --light-warning: #ffa217;
  --dark-warning: #e88c00;
  --error: #ed4014;
  --light-error: #ee5129;
  --dark-error: #d83b13;

  --title: #17233d;
  --content: #515a6e;
  --sub-title: #808695;
  --border: #dcdee2;
  --divider: #e8eaec;
  --background: #f8f8f9;

  /* Socials */

  --facebook: #3b5999;
  --messenger: #0084ff;
  --twitter: #55acee;
  --linkedin: #0077b5;
  --skype: #00aff0;
  --dropbox: #007ee5;
  --wordpress: #21759b;
  --vimeo: #1ab7ea;
  --slideshare: #0077b5;
  --vk: #4c75a3;
  --tumblr: #34465d;
  --googleplus: #dd4b39;
  --pinterest: #bd081c;
  --youtube: #cd201f;
  --stumbleupon: #eb4924;
  --reddit: #ff5700;
  --quora: #b92b27;
  --yelp: #af0606;
  --weibo: #df2029;
  --producthunt: #da552f;
  --hackernews: #ff6600;
  --soundcloud: #ff3300;
  --blogger: #f57d00;
  --whatsapp: #25d366;
  --wechat: #09b83e;
  --line: #00c300;
  --medium: #02b875;
  --vine: #00b489;
  --slack: #3aaf85;
  --instagram: #e4405f;
  --dribbble: #ea4c89;
  --flickr: #ff0084;
  --foursquare: #f94877;
  --behance: #131418;
  --snapchat: #fffc00;

  --dark-red: #e7040f;
  --red: #ff4136;
  --light-red: #ff725c;
  --orange: #ff6300;
  --gold: #ffb700;
  --yellow: #ffd700;
  --light-yellow: #fbf1a9;
  --purple: #5e2ca5;
  --light-purple: #a463f2;
  --dark-pink: #d5008f;
  --hot-pink: #ff41b4;
  --pink: #ff80cc;
  --light-pink: #ffa3d7;
  --dark-green: #137752;
  --green: #19a974;
  --light-green: #9eebcf;
  --navy: #001b44;
  --dark-blue: #00449e;
  --blue: #357edd;
  --light-blue: #96ccff;
  --lightest-blue: #cdecff;
  --washed-blue: #f6fffe;
  --washed-green: #e8fdf5;
  --washed-yellow: #fffceb;
  --washed-red: #ffdfdf;
}
