@font-face {
  font-family: "mnmlicon";
  src: url("fonts/mnmlicon.eot?htqmo6");
  src: url("fonts/mnmlicon.eot?htqmo6#iefix") format("embedded-opentype"), url("fonts/mnmlicon.ttf?htqmo6") format("truetype"), url("fonts/mnmlicon.woff?htqmo6") format("woff"),
    url("fonts/mnmlicon.svg?htqmo6#mnmlicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "mnmlicon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-d-modelling:before {
  content: "\e900";
}
.i-d-modelling-round:before {
  content: "\e901";
}
.i-gag:before {
  content: "\e902";
}
.i-activity:before {
  content: "\e903";
}
.i-adobe-cloud:before {
  content: "\e904";
}
.i-airbnb:before {
  content: "\e905";
}
.i-airplane-mode:before {
  content: "\e906";
}
.i-airplane-mode-off:before {
  content: "\e907";
}
.i-aliens:before {
  content: "\e908";
}
.i-align-text-center:before {
  content: "\e909";
}
.i-align-text-distribute:before {
  content: "\e90a";
}
.i-align-text-left:before {
  content: "\e90b";
}
.i-align-text-left:before {
  content: "\e90c";
}
.i-align-text-left:before {
  content: "\e90d";
}
.i-align-text-left:before {
  content: "\e90e";
}
.i-align-text-left:before {
  content: "\e90f";
}
.i-align-text-left-right:before {
  content: "\e910";
}
.i-align-text-right:before {
  content: "\e911";
}
.i-align-text-right:before {
  content: "\e912";
}
.i-alignment-bottom:before {
  content: "\e913";
}
.i-alignment-left:before {
  content: "\e914";
}
.i-alignment-right:before {
  content: "\e915";
}
.i-alignment-top:before {
  content: "\e916";
}
.i-amazon:before {
  content: "\e917";
}
.i-ambulance:before {
  content: "\e918";
}
.i-ambulance-round:before {
  content: "\e919";
}
.i-apple:before {
  content: "\e91a";
}
.i-apple:before {
  content: "\e91b";
}
.i-apple-store:before {
  content: "\e91c";
}
.i-arrow-all:before {
  content: "\e91d";
}
.i-arrow-all:before {
  content: "\e91e";
}
.i-arrow-all:before {
  content: "\e91f";
}
.i-arrow-all:before {
  content: "\e920";
}
.i-arrow-all:before {
  content: "\e921";
}
.i-arrow-all:before {
  content: "\e922";
}
.i-arrow-all:before {
  content: "\e923";
}
.i-arrow-all:before {
  content: "\e924";
}
.i-arrow-all:before {
  content: "\e925";
}
.i-arrow-all:before {
  content: "\e926";
}
.i-arrow-all-fill:before {
  content: "\e927";
}
.i-arrow-all-fill:before {
  content: "\e928";
}
.i-arrow-circle:before {
  content: "\e929";
}
.i-arrow-circle:before {
  content: "\e92a";
}
.i-arrow-corner:before {
  content: "\e92b";
}
.i-arrow-corner:before {
  content: "\e92c";
}
.i-arrow-corner:before {
  content: "\e92d";
}
.i-arrow-corner:before {
  content: "\e92e";
}
.i-arrow-corner-down-left:before {
  content: "\e92f";
}
.i-arrow-double:before {
  content: "\e930";
}
.i-arrow-double-circle:before {
  content: "\e931";
}
.i-arrow-double-circle:before {
  content: "\e932";
}
.i-arrow-double-circle:before {
  content: "\e933";
}
.i-arrow-down:before {
  content: "\e934";
}
.i-arrow-down:before {
  content: "\e935";
}
.i-arrow-down:before {
  content: "\e936";
}
.i-arrow-down:before {
  content: "\e937";
}
.i-arrow-down:before {
  content: "\e938";
}
.i-arrow-down:before {
  content: "\e939";
}
.i-arrow-down:before {
  content: "\e93a";
}
.i-arrow-down-circle:before {
  content: "\e93b";
}
.i-arrow-down-double-circle:before {
  content: "\e93c";
}
.i-arrow-in-down:before {
  content: "\e93d";
}
.i-arrow-in-down:before {
  content: "\e93e";
}
.i-arrow-in-left:before {
  content: "\e93f";
}
.i-arrow-in-left:before {
  content: "\e940";
}
.i-arrow-in-left:before {
  content: "\e941";
}
.i-arrow-in-right:before {
  content: "\e942";
}
.i-arrow-infinity:before {
  content: "\e943";
}
.i-arrow-inside:before {
  content: "\e944";
}
.i-arrow-inside:before {
  content: "\e945";
}
.i-arrow-inside:before {
  content: "\e946";
}
.i-arrow-inside:before {
  content: "\e947";
}
.i-arrow-inside:before {
  content: "\e948";
}
.i-arrow-left:before {
  content: "\e949";
}
.i-arrow-left:before {
  content: "\e94a";
}
.i-arrow-left:before {
  content: "\e94b";
}
.i-arrow-left:before {
  content: "\e94c";
}
.i-arrow-left:before {
  content: "\e94d";
}
.i-arrow-left:before {
  content: "\e94e";
}
.i-arrow-left:before {
  content: "\e94f";
}
.i-arrow-left:before {
  content: "\e950";
}
.i-arrow-left:before {
  content: "\e951";
}
.i-arrow-left:before {
  content: "\e952";
}
.i-arrow-left:before {
  content: "\e953";
}
.i-arrow-left:before {
  content: "\e954";
}
.i-arrow-left:before {
  content: "\e955";
}
.i-arrow-left:before {
  content: "\e956";
}
.i-arrow-left-circle:before {
  content: "\e957";
}
.i-arrow-left-circle:before {
  content: "\e958";
}
.i-arrow-left-circle:before {
  content: "\e959";
}
.i-arrow-left-circle:before {
  content: "\e95a";
}
.i-arrow-left-circle:before {
  content: "\e95b";
}
.i-arrow-left-double-circle:before {
  content: "\e95c";
}
.i-arrow-left-down-left-up:before {
  content: "\e95d";
}
.i-arrow-left-down-right-up:before {
  content: "\e95e";
}
.i-arrow-left-down-right-up:before {
  content: "\e95f";
}
.i-arrow-left-down-right-up:before {
  content: "\e960";
}
.i-arrow-left-up:before {
  content: "\e961";
}
.i-arrow-left-up:before {
  content: "\e962";
}
.i-arrow-left-up:before {
  content: "\e963";
}
.i-arrow-left-up:before {
  content: "\e964";
}
.i-arrow-left-up-circle:before {
  content: "\e965";
}
.i-arrow-left-up-circle:before {
  content: "\e966";
}
.i-arrow-left-up-right-down:before {
  content: "\e967";
}
.i-arrow-left-up-right-down:before {
  content: "\e968";
}
.i-arrow-left-up-right-down:before {
  content: "\e969";
}
.i-arrow-outside:before {
  content: "\e96a";
}
.i-arrow-repeat:before {
  content: "\e96b";
}
.i-arrow-repeat:before {
  content: "\e96c";
}
.i-arrow-repeat:before {
  content: "\e96d";
}
.i-arrow-repeat:before {
  content: "\e96e";
}
.i-arrow-repeat:before {
  content: "\e96f";
}
.i-arrow-repeat:before {
  content: "\e970";
}
.i-arrow-repeat:before {
  content: "\e971";
}
.i-arrow-repeat:before {
  content: "\e972";
}
.i-arrow-right:before {
  content: "\e973";
}
.i-arrow-right:before {
  content: "\e974";
}
.i-arrow-right:before {
  content: "\e975";
}
.i-arrow-right:before {
  content: "\e976";
}
.i-arrow-right:before {
  content: "\e977";
}
.i-arrow-right:before {
  content: "\e978";
}
.i-arrow-right:before {
  content: "\e979";
}
.i-arrow-right:before {
  content: "\e97a";
}
.i-arrow-right:before {
  content: "\e97b";
}
.i-arrow-right:before {
  content: "\e97c";
}
.i-arrow-right:before {
  content: "\e97d";
}
.i-arrow-right:before {
  content: "\e97e";
}
.i-arrow-right:before {
  content: "\e97f";
}
.i-arrow-right:before {
  content: "\e980";
}
.i-arrow-right:before {
  content: "\e981";
}
.i-arrow-right:before {
  content: "\e982";
}
.i-arrow-right-circle:before {
  content: "\e983";
}
.i-arrow-right-circle:before {
  content: "\e984";
}
.i-arrow-right-circle:before {
  content: "\e985";
}
.i-arrow-right-circle:before {
  content: "\e986";
}
.i-arrow-right-circle:before {
  content: "\e987";
}
.i-arrow-right-corner:before {
  content: "\e988";
}
.i-arrow-right-corner:before {
  content: "\e989";
}
.i-arrow-right-corner-down:before {
  content: "\e98a";
}
.i-arrow-right-double:before {
  content: "\e98b";
}
.i-arrow-right-double:before {
  content: "\e98c";
}
.i-arrow-right-double:before {
  content: "\e98d";
}
.i-arrow-right-double:before {
  content: "\e98e";
}
.i-arrow-right-double:before {
  content: "\e98f";
}
.i-arrow-right-double:before {
  content: "\e990";
}
.i-arrow-right-double:before {
  content: "\e991";
}
.i-arrow-right-double:before {
  content: "\e992";
}
.i-arrow-right-double:before {
  content: "\e993";
}
.i-arrow-right-double-circle:before {
  content: "\e994";
}
.i-arrow-right-in:before {
  content: "\e995";
}
.i-arrow-right-in:before {
  content: "\e996";
}
.i-arrow-right-left:before {
  content: "\e997";
}
.i-arrow-right-left:before {
  content: "\e998";
}
.i-arrow-right-outside:before {
  content: "\e999";
}
.i-arrow-right-outside:before {
  content: "\e99a";
}
.i-arrow-right-up:before {
  content: "\e99b";
}
.i-arrow-right-up:before {
  content: "\e99c";
}
.i-arrow-right-up:before {
  content: "\e99d";
}
.i-arrow-right-up:before {
  content: "\e99e";
}
.i-arrow-right-up-circle:before {
  content: "\e99f";
}
.i-arrow-right-up-circle:before {
  content: "\e9a0";
}
.i-arrow-up:before {
  content: "\e9a1";
}
.i-arrow-up:before {
  content: "\e9a2";
}
.i-arrow-up:before {
  content: "\e9a3";
}
.i-arrow-up:before {
  content: "\e9a4";
}
.i-arrow-up:before {
  content: "\e9a5";
}
.i-arrow-up:before {
  content: "\e9a6";
}
.i-arrow-up:before {
  content: "\e9a7";
}
.i-arrow-up:before {
  content: "\e9a8";
}
.i-arrow-up:before {
  content: "\e9a9";
}
.i-arrow-up:before {
  content: "\e9aa";
}
.i-arrow-up:before {
  content: "\e9ab";
}
.i-arrow-up:before {
  content: "\e9ac";
}
.i-arrow-up:before {
  content: "\e9ad";
}
.i-arrow-up:before {
  content: "\e9ae";
}
.i-arrow-up:before {
  content: "\e9af";
}
.i-arrow-up:before {
  content: "\e9b0";
}
.i-arrow-up:before {
  content: "\e9b1";
}
.i-arrow-up:before {
  content: "\e9b2";
}
.i-arrow-up:before {
  content: "\e9b3";
}
.i-arrow-up:before {
  content: "\e9b4";
}
.i-arrow-up-circle:before {
  content: "\e9b5";
}
.i-arrow-up-circle:before {
  content: "\e9b6";
}
.i-arrow-up-circle:before {
  content: "\e9b7";
}
.i-arrow-up-circle:before {
  content: "\e9b8";
}
.i-arrow-up-circle:before {
  content: "\e9b9";
}
.i-arrow-up-outside:before {
  content: "\e9ba";
}
.i-at-sign:before {
  content: "\e9bb";
}
.i-at-sign:before {
  content: "\e9bc";
}
.i-at-sign:before {
  content: "\e9bd";
}
.i-atom:before {
  content: "\e9be";
}
.i-atom:before {
  content: "\e9bf";
}
.i-attachment:before {
  content: "\e9c0";
}
.i-attachment:before {
  content: "\e9c1";
}
.i-bag-circle:before {
  content: "\e9c2";
}
.i-bag-circle-play-round:before {
  content: "\e9c3";
}
.i-bag-close-play-round:before {
  content: "\e9c4";
}
.i-bag-close-round:before {
  content: "\e9c5";
}
.i-bag-minus:before {
  content: "\e9c6";
}
.i-bag-minus-play-round:before {
  content: "\e9c7";
}
.i-bag-play-round:before {
  content: "\e9c8";
}
.i-bag-plus:before {
  content: "\e9c9";
}
.i-bag-plus-play-round:before {
  content: "\e9ca";
}
.i-ball:before {
  content: "\e9cb";
}
.i-balloon:before {
  content: "\e9cc";
}
.i-balloon:before {
  content: "\e9cd";
}
.i-balloon:before {
  content: "\e9ce";
}
.i-balloon:before {
  content: "\e9cf";
}
.i-basketball:before {
  content: "\e9d0";
}
.i-basketball:before {
  content: "\e9d1";
}
.i-basketball:before {
  content: "\e9d2";
}
.i-bathtub:before {
  content: "\e9d3";
}
.i-bathtub:before {
  content: "\e9d4";
}
.i-battery:before {
  content: "\e9d5";
}
.i-battery:before {
  content: "\e9d6";
}
.i-battery:before {
  content: "\e9d7";
}
.i-battery-half-fill:before {
  content: "\e9d8";
}
.i-battery-half-fill:before {
  content: "\e9d9";
}
.i-behance:before {
  content: "\e9da";
}
.i-bike:before {
  content: "\e9db";
}
.i-biliard:before {
  content: "\e9dc";
}
.i-bitcoin:before {
  content: "\e9dd";
}
.i-blender:before {
  content: "\e9de";
}
.i-blender:before {
  content: "\e9df";
}
.i-bluetooth:before {
  content: "\e9e0";
}
.i-bomb:before {
  content: "\e9e1";
}
.i-bomb:before {
  content: "\e9e2";
}
.i-book:before {
  content: "\e9e3";
}
.i-book:before {
  content: "\e9e4";
}
.i-book:before {
  content: "\e9e5";
}
.i-book:before {
  content: "\e9e6";
}
.i-bookmark:before {
  content: "\e9e7";
}
.i-bookmark:before {
  content: "\e9e8";
}
.i-bookmark:before {
  content: "\e9e9";
}
.i-bookmark:before {
  content: "\e9ea";
}
.i-bookmark:before {
  content: "\e9eb";
}
.i-bookmark:before {
  content: "\e9ec";
}
.i-bookmark:before {
  content: "\e9ed";
}
.i-bookmark:before {
  content: "\e9ee";
}
.i-bookmark:before {
  content: "\e9ef";
}
.i-bookmark-circle:before {
  content: "\e9f0";
}
.i-bookmark-circle:before {
  content: "\e9f1";
}
.i-bookmark-circle-fill:before {
  content: "\e9f2";
}
.i-bookmark-circle-fill:before {
  content: "\e9f3";
}
.i-bookmark-close-fill:before {
  content: "\e9f4";
}
.i-bookmark-close-fill:before {
  content: "\e9f5";
}
.i-bookmark-fill:before {
  content: "\e9f6";
}
.i-bookmark-fill:before {
  content: "\e9f7";
}
.i-bookmark-minus-fill:before {
  content: "\e9f8";
}
.i-bookmark-minus-fill:before {
  content: "\e9f9";
}
.i-bookmark-plus-fill:before {
  content: "\e9fa";
}
.i-bookmark-plus-fill:before {
  content: "\e9fb";
}
.i-bowling:before {
  content: "\e9fc";
}
.i-briefcase:before {
  content: "\e9fd";
}
.i-brightness:before {
  content: "\e9fe";
}
.i-brightness:before {
  content: "\e9ff";
}
.i-brightness:before {
  content: "\ea00";
}
.i-brightness:before {
  content: "\ea01";
}
.i-browser:before {
  content: "\ea02";
}
.i-bug:before {
  content: "\ea03";
}
.i-bug-close:before {
  content: "\ea04";
}
.i-bug-minus:before {
  content: "\ea05";
}
.i-bug-plus:before {
  content: "\ea06";
}
.i-bug-spider:before {
  content: "\ea07";
}
.i-bug-spider:before {
  content: "\ea08";
}
.i-bug-spider:before {
  content: "\ea09";
}
.i-building:before {
  content: "\ea0a";
}
.i-bus-front-view:before {
  content: "\ea0b";
}
.i-cabin:before {
  content: "\ea0c";
}
.i-cabin:before {
  content: "\ea0d";
}
.i-calendar:before {
  content: "\ea0e";
}
.i-calendar:before {
  content: "\ea0f";
}
.i-calendar:before {
  content: "\ea10";
}
.i-calendar:before {
  content: "\ea11";
}
.i-calendar:before {
  content: "\ea12";
}
.i-call:before {
  content: "\ea13";
}
.i-call:before {
  content: "\ea14";
}
.i-call:before {
  content: "\ea15";
}
.i-call:before {
  content: "\ea16";
}
.i-call:before {
  content: "\ea17";
}
.i-call:before {
  content: "\ea18";
}
.i-call:before {
  content: "\ea19";
}
.i-call:before {
  content: "\ea1a";
}
.i-camera:before {
  content: "\ea1b";
}
.i-camera:before {
  content: "\ea1c";
}
.i-camera:before {
  content: "\ea1d";
}
.i-camera:before {
  content: "\ea1e";
}
.i-camera:before {
  content: "\ea1f";
}
.i-camera:before {
  content: "\ea20";
}
.i-camera:before {
  content: "\ea21";
}
.i-camera:before {
  content: "\ea22";
}
.i-camera-minus:before {
  content: "\ea23";
}
.i-camera-plus:before {
  content: "\ea24";
}
.i-cannon:before {
  content: "\ea25";
}
.i-cannon:before {
  content: "\ea26";
}
.i-car:before {
  content: "\ea27";
}
.i-car:before {
  content: "\ea28";
}
.i-car:before {
  content: "\ea29";
}
.i-car:before {
  content: "\ea2a";
}
.i-car:before {
  content: "\ea2b";
}
.i-car:before {
  content: "\ea2c";
}
.i-car:before {
  content: "\ea2d";
}
.i-car:before {
  content: "\ea2e";
}
.i-car:before {
  content: "\ea2f";
}
.i-car:before {
  content: "\ea30";
}
.i-car:before {
  content: "\ea31";
}
.i-car-front-view:before {
  content: "\ea32";
}
.i-car-front-view:before {
  content: "\ea33";
}
.i-car-round:before {
  content: "\ea34";
}
.i-car-round:before {
  content: "\ea35";
}
.i-car-round:before {
  content: "\ea36";
}
.i-car-round:before {
  content: "\ea37";
}
.i-car-round:before {
  content: "\ea38";
}
.i-car-round:before {
  content: "\ea39";
}
.i-car-round:before {
  content: "\ea3a";
}
.i-car-round:before {
  content: "\ea3b";
}
.i-car-round:before {
  content: "\ea3c";
}
.i-car-round:before {
  content: "\ea3d";
}
.i-cart:before {
  content: "\ea3e";
}
.i-cart:before {
  content: "\ea3f";
}
.i-cart:before {
  content: "\ea40";
}
.i-cart-close:before {
  content: "\ea41";
}
.i-cart-close-round:before {
  content: "\ea42";
}
.i-cart-down-round:before {
  content: "\ea43";
}
.i-cart-empty:before {
  content: "\ea44";
}
.i-cart-empty-round:before {
  content: "\ea45";
}
.i-cart-fill:before {
  content: "\ea46";
}
.i-cart-fill:before {
  content: "\ea47";
}
.i-cart-fill-round:before {
  content: "\ea48";
}
.i-cart-fill-round:before {
  content: "\ea49";
}
.i-cart-minus:before {
  content: "\ea4a";
}
.i-cart-minus-round:before {
  content: "\ea4b";
}
.i-cart-play-round:before {
  content: "\ea4c";
}
.i-cart-plus:before {
  content: "\ea4d";
}
.i-cart-plus-round:before {
  content: "\ea4e";
}
.i-cart-round:before {
  content: "\ea4f";
}
.i-cart-round:before {
  content: "\ea50";
}
.i-cart-round:before {
  content: "\ea51";
}
.i-cart-up-round:before {
  content: "\ea52";
}
.i-cc:before {
  content: "\ea53";
}
.i-cc:before {
  content: "\ea54";
}
.i-celcius:before {
  content: "\ea55";
}
.i-celcius:before {
  content: "\ea56";
}
.i-celsius:before {
  content: "\ea57";
}
.i-center:before {
  content: "\ea58";
}
.i-center:before {
  content: "\ea59";
}
.i-center-object:before {
  content: "\ea5a";
}
.i-center-object:before {
  content: "\ea5b";
}
.i-center-object:before {
  content: "\ea5c";
}
.i-center-object-round:before {
  content: "\ea5d";
}
.i-center-object-round:before {
  content: "\ea5e";
}
.i-center-object-round:before {
  content: "\ea5f";
}
.i-center-round:before {
  content: "\ea60";
}
.i-charger:before {
  content: "\ea61";
}
.i-charger:before {
  content: "\ea62";
}
.i-charger-round:before {
  content: "\ea63";
}
.i-charger-round:before {
  content: "\ea64";
}
.i-chart:before {
  content: "\ea65";
}
.i-chart-fill:before {
  content: "\ea66";
}
.i-chart-fill:before {
  content: "\ea67";
}
.i-chess:before {
  content: "\ea68";
}
.i-chess:before {
  content: "\ea69";
}
.i-chrome-cast:before {
  content: "\ea6a";
}
.i-chrome-cast:before {
  content: "\ea6b";
}
.i-chrome-cast-round:before {
  content: "\ea6c";
}
.i-chrome-cast-round:before {
  content: "\ea6d";
}
.i-circular-connectivity:before {
  content: "\ea6e";
}
.i-circular-connectivity:before {
  content: "\ea6f";
}
.i-click:before {
  content: "\ea70";
}
.i-click-touch-press:before {
  content: "\ea71";
}
.i-click-touch-press:before {
  content: "\ea72";
}
.i-clock:before {
  content: "\ea73";
}
.i-clock:before {
  content: "\ea74";
}
.i-clock:before {
  content: "\ea75";
}
.i-close:before {
  content: "\ea76";
}
.i-close:before {
  content: "\ea77";
}
.i-close-camera:before {
  content: "\ea78";
}
.i-close-mini:before {
  content: "\ea79";
}
.i-closed-box-top-view:before {
  content: "\ea7a";
}
.i-closed-box-top-view-round:before {
  content: "\ea7b";
}
.i-cloud:before {
  content: "\ea7c";
}
.i-cloud-close:before {
  content: "\ea7d";
}
.i-cloud-close:before {
  content: "\ea7e";
}
.i-cloud-close:before {
  content: "\ea7f";
}
.i-cloud-close:before {
  content: "\ea80";
}
.i-cloud-connection:before {
  content: "\ea81";
}
.i-cloud-connection:before {
  content: "\ea82";
}
.i-cloud-connection:before {
  content: "\ea83";
}
.i-cloud-connection:before {
  content: "\ea84";
}
.i-cloud-connection:before {
  content: "\ea85";
}
.i-cloud-down:before {
  content: "\ea86";
}
.i-cloud-down:before {
  content: "\ea87";
}
.i-cloud-down:before {
  content: "\ea88";
}
.i-cloud-down:before {
  content: "\ea89";
}
.i-cloud-message:before {
  content: "\ea8a";
}
.i-cloud-message:before {
  content: "\ea8b";
}
.i-cloud-minus:before {
  content: "\ea8c";
}
.i-cloud-minus:before {
  content: "\ea8d";
}
.i-cloud-minus:before {
  content: "\ea8e";
}
.i-cloud-minus:before {
  content: "\ea8f";
}
.i-cloud-ok:before {
  content: "\ea90";
}
.i-cloud-ok:before {
  content: "\ea91";
}
.i-cloud-plus:before {
  content: "\ea92";
}
.i-cloud-plus:before {
  content: "\ea93";
}
.i-cloud-plus:before {
  content: "\ea94";
}
.i-cloud-plus:before {
  content: "\ea95";
}
.i-cloud-up:before {
  content: "\ea96";
}
.i-cloud-up:before {
  content: "\ea97";
}
.i-cloud-up:before {
  content: "\ea98";
}
.i-cloud-up:before {
  content: "\ea99";
}
.i-clouds:before {
  content: "\ea9a";
}
.i-clouds:before {
  content: "\ea9b";
}
.i-clouds:before {
  content: "\ea9c";
}
.i-clouds:before {
  content: "\ea9d";
}
.i-clouds:before {
  content: "\ea9e";
}
.i-clouds:before {
  content: "\ea9f";
}
.i-clouds:before {
  content: "\eaa0";
}
.i-clouds-sun:before {
  content: "\eaa1";
}
.i-clouds-sun:before {
  content: "\eaa2";
}
.i-clouds-sun:before {
  content: "\eaa3";
}
.i-clubs:before {
  content: "\eaa4";
}
.i-code:before {
  content: "\eaa5";
}
.i-coffee:before {
  content: "\eaa6";
}
.i-coffee:before {
  content: "\eaa7";
}
.i-collection:before {
  content: "\eaa8";
}
.i-connection:before {
  content: "\eaa9";
}
.i-connection-pattern:before {
  content: "\eaaa";
}
.i-connection-pattern:before {
  content: "\eaab";
}
.i-connection-pattern:before {
  content: "\eaac";
}
.i-connectivity-center:before {
  content: "\eaad";
}
.i-container:before {
  content: "\eaae";
}
.i-container:before {
  content: "\eaaf";
}
.i-container:before {
  content: "\eab0";
}
.i-container:before {
  content: "\eab1";
}
.i-container:before {
  content: "\eab2";
}
.i-container:before {
  content: "\eab3";
}
.i-container:before {
  content: "\eab4";
}
.i-container:before {
  content: "\eab5";
}
.i-container:before {
  content: "\eab6";
}
.i-container:before {
  content: "\eab7";
}
.i-contrast:before {
  content: "\eab8";
}
.i-contrast:before {
  content: "\eab9";
}
.i-contrast:before {
  content: "\eaba";
}
.i-contrast-round:before {
  content: "\eabb";
}
.i-control:before {
  content: "\eabc";
}
.i-control:before {
  content: "\eabd";
}
.i-control:before {
  content: "\eabe";
}
.i-controller:before {
  content: "\eabf";
}
.i-controller:before {
  content: "\eac0";
}
.i-cook:before {
  content: "\eac1";
}
.i-cook:before {
  content: "\eac2";
}
.i-cover-flow:before {
  content: "\eac3";
}
.i-cover-flow:before {
  content: "\eac4";
}
.i-cover-flow:before {
  content: "\eac5";
}
.i-cover-flow:before {
  content: "\eac6";
}
.i-cover-flow:before {
  content: "\eac7";
}
.i-cunnect:before {
  content: "\eac8";
}
.i-cup:before {
  content: "\eac9";
}
.i-cup:before {
  content: "\eaca";
}
.i-cup:before {
  content: "\eacb";
}
.i-cup:before {
  content: "\eacc";
}
.i-curling:before {
  content: "\eacd";
}
.i-curling:before {
  content: "\eace";
}
.i-current-location:before {
  content: "\eacf";
}
.i-current-location:before {
  content: "\ead0";
}
.i-cut:before {
  content: "\ead1";
}
.i-1-round:before {
  content: "\ead1";
}
.i-cut1:before {
  content: "\ead2";
}
.i-2:before {
  content: "\ead2";
}
.i-cut2:before {
  content: "\ead3";
}
.i-3-round:before {
  content: "\ead3";
}
.i-cut3:before {
  content: "\ead4";
}
.i-4:before {
  content: "\ead4";
}
.i-cut-corner:before {
  content: "\ead5";
}
.i-cut-corner:before {
  content: "\ead6";
}
.i-cut-corner:before {
  content: "\ead7";
}
.i-cut-corner:before {
  content: "\ead8";
}
.i-cut-corner-round:before {
  content: "\ead9";
}
.i-cut-corner-round:before {
  content: "\eada";
}
.i-dashboard:before {
  content: "\eadb";
}
.i-database-system:before {
  content: "\eadc";
}
.i-database-system:before {
  content: "\eadd";
}
.i-database-system:before {
  content: "\eade";
}
.i-database-system:before {
  content: "\eadf";
}
.i-dead:before {
  content: "\eae0";
}
.i-dead-star:before {
  content: "\eae1";
}
.i-dead-star:before {
  content: "\eae2";
}
.i-dead-star:before {
  content: "\eae3";
}
.i-delete:before {
  content: "\eae4";
}
.i-desktop:before {
  content: "\eae5";
}
.i-desktop:before {
  content: "\eae6";
}
.i-desktop:before {
  content: "\eae7";
}
.i-desktop:before {
  content: "\eae8";
}
.i-desktop:before {
  content: "\eae9";
}
.i-diamond:before {
  content: "\eaea";
}
.i-diamond:before {
  content: "\eaeb";
}
.i-diamond:before {
  content: "\eaec";
}
.i-diamond-round:before {
  content: "\eaed";
}
.i-diamond-round:before {
  content: "\eaee";
}
.i-diamond-round:before {
  content: "\eaef";
}
.i-dice:before {
  content: "\eaf0";
}
.i-dice:before {
  content: "\eaf1";
}
.i-dice:before {
  content: "\eaf2";
}
.i-dice:before {
  content: "\eaf3";
}
.i-dice:before {
  content: "\eaf4";
}
.i-dice:before {
  content: "\eaf5";
}
.i-directory-arrow-down:before {
  content: "\eaf6";
}
.i-directory-arrow-down:before {
  content: "\eaf7";
}
.i-directory-arrow-down:before {
  content: "\eaf8";
}
.i-directory-arrow-down:before {
  content: "\eaf9";
}
.i-directory-arrow-up:before {
  content: "\eafa";
}
.i-directory-arrow-up:before {
  content: "\eafb";
}
.i-directory-arrow-up:before {
  content: "\eafc";
}
.i-directory-arrow-up:before {
  content: "\eafd";
}
.i-directory-close:before {
  content: "\eafe";
}
.i-directory-close:before {
  content: "\eaff";
}
.i-directory-close:before {
  content: "\eb00";
}
.i-directory-close:before {
  content: "\eb01";
}
.i-directory-close:before {
  content: "\eb02";
}
.i-directory-close:before {
  content: "\eb03";
}
.i-directory-close:before {
  content: "\eb04";
}
.i-directory-close:before {
  content: "\eb05";
}
.i-directory-close:before {
  content: "\eb06";
}
.i-directory-favorite:before {
  content: "\eb07";
}
.i-directory-favorite:before {
  content: "\eb08";
}
.i-directory-favorite:before {
  content: "\eb09";
}
.i-directory-favorite:before {
  content: "\eb0a";
}
.i-directory-favorite-half:before {
  content: "\eb0b";
}
.i-directory-favorite-half:before {
  content: "\eb0c";
}
.i-directory-favorite-half:before {
  content: "\eb0d";
}
.i-directory-favorite-half:before {
  content: "\eb0e";
}
.i-directory-image:before {
  content: "\eb0f";
}
.i-directory-image:before {
  content: "\eb10";
}
.i-directory-image:before {
  content: "\eb11";
}
.i-directory-image:before {
  content: "\eb12";
}
.i-directory-important:before {
  content: "\eb13";
}
.i-directory-important:before {
  content: "\eb14";
}
.i-directory-important:before {
  content: "\eb15";
}
.i-directory-important:before {
  content: "\eb16";
}
.i-directory-information:before {
  content: "\eb17";
}
.i-directory-information:before {
  content: "\eb18";
}
.i-directory-information:before {
  content: "\eb19";
}
.i-directory-information:before {
  content: "\eb1a";
}
.i-directory-locked:before {
  content: "\eb1b";
}
.i-directory-locked:before {
  content: "\eb1c";
}
.i-directory-locked:before {
  content: "\eb1d";
}
.i-directory-locked:before {
  content: "\eb1e";
}
.i-directory-love-favorite:before {
  content: "\eb1f";
}
.i-directory-love-favorite:before {
  content: "\eb20";
}
.i-directory-love-favorite:before {
  content: "\eb21";
}
.i-directory-love-favorite:before {
  content: "\eb22";
}
.i-directory-missing:before {
  content: "\eb23";
}
.i-directory-missing:before {
  content: "\eb24";
}
.i-directory-missing:before {
  content: "\eb25";
}
.i-directory-missing:before {
  content: "\eb26";
}
.i-directory-music:before {
  content: "\eb27";
}
.i-directory-music:before {
  content: "\eb28";
}
.i-directory-music:before {
  content: "\eb29";
}
.i-directory-music:before {
  content: "\eb2a";
}
.i-directory-plus:before {
  content: "\eb2b";
}
.i-directory-plus:before {
  content: "\eb2c";
}
.i-directory-plus:before {
  content: "\eb2d";
}
.i-directory-plus-plus:before {
  content: "\eb2e";
}
.i-directory-search:before {
  content: "\eb2f";
}
.i-directory-search:before {
  content: "\eb30";
}
.i-directory-search:before {
  content: "\eb31";
}
.i-directory-search:before {
  content: "\eb32";
}
.i-dislike:before {
  content: "\eb33";
}
.i-dislike:before {
  content: "\eb34";
}
.i-distribute-center-horizontal:before {
  content: "\eb35";
}
.i-distribute-center-vertical:before {
  content: "\eb36";
}
.i-distribution:before {
  content: "\eb37";
}
.i-dollar:before {
  content: "\eb38";
}
.i-done:before {
  content: "\eb39";
}
.i-done:before {
  content: "\eb3a";
}
.i-done:before {
  content: "\eb3b";
}
.i-done-cover:before {
  content: "\eb3c";
}
.i-done-fill:before {
  content: "\eb3d";
}
.i-done-mini:before {
  content: "\eb3e";
}
.i-door:before {
  content: "\eb3f";
}
.i-door:before {
  content: "\eb40";
}
.i-double-window:before {
  content: "\eb41";
}
.i-download:before {
  content: "\eb42";
}
.i-download:before {
  content: "\eb43";
}
.i-download:before {
  content: "\eb44";
}
.i-download:before {
  content: "\eb45";
}
.i-download:before {
  content: "\eb46";
}
.i-download:before {
  content: "\eb47";
}
.i-download:before {
  content: "\eb48";
}
.i-dribbble:before {
  content: "\eb49";
}
.i-drink:before {
  content: "\eb4a";
}
.i-drink:before {
  content: "\eb4b";
}
.i-drink:before {
  content: "\eb4c";
}
.i-drink:before {
  content: "\eb4d";
}
.i-drink:before {
  content: "\eb4e";
}
.i-drink:before {
  content: "\eb4f";
}
.i-drink:before {
  content: "\eb50";
}
.i-drink:before {
  content: "\eb51";
}
.i-drink-round:before {
  content: "\eb52";
}
.i-drink-round:before {
  content: "\eb53";
}
.i-drink-round:before {
  content: "\eb54";
}
.i-drink-round:before {
  content: "\eb55";
}
.i-drop:before {
  content: "\eb56";
}
.i-drop:before {
  content: "\eb57";
}
.i-drop:before {
  content: "\eb58";
}
.i-dropbox:before {
  content: "\eb59";
}
.i-duplicate-round:before {
  content: "\eb5a";
}
.i-edit:before {
  content: "\eb5b";
}
.i-edit:before {
  content: "\eb5c";
}
.i-edit:before {
  content: "\eb5d";
}
.i-edit-cover:before {
  content: "\eb5e";
}
.i-edit-fill:before {
  content: "\eb5f";
}
.i-edit-line:before {
  content: "\eb60";
}
.i-edit-line:before {
  content: "\eb61";
}
.i-edit-text-bar:before {
  content: "\eb62";
}
.i-edit-text-bar:before {
  content: "\eb63";
}
.i-egg:before {
  content: "\eb64";
}
.i-egg:before {
  content: "\eb65";
}
.i-egg:before {
  content: "\eb66";
}
.i-email:before {
  content: "\eb67";
}
.i-email:before {
  content: "\eb68";
}
.i-email:before {
  content: "\eb69";
}
.i-email:before {
  content: "\eb6a";
}
.i-emoji-happy:before {
  content: "\eb6b";
}
.i-emoji-happy:before {
  content: "\eb6c";
}
.i-emoji-happy:before {
  content: "\eb6d";
}
.i-emoji-happy:before {
  content: "\eb6e";
}
.i-emoji-happy:before {
  content: "\eb6f";
}
.i-emoji-happy:before {
  content: "\eb70";
}
.i-emoji-happy:before {
  content: "\eb71";
}
.i-emoji-happy:before {
  content: "\eb72";
}
.i-emoji-happy:before {
  content: "\eb73";
}
.i-emoji-happy:before {
  content: "\eb74";
}
.i-emoji-happy:before {
  content: "\eb75";
}
.i-emoji-happy:before {
  content: "\eb76";
}
.i-emoji-happy:before {
  content: "\eb77";
}
.i-emoji-happy:before {
  content: "\eb78";
}
.i-emoji-happy:before {
  content: "\eb79";
}
.i-emoji-happy:before {
  content: "\eb7a";
}
.i-emoji-happy:before {
  content: "\eb7b";
}
.i-emoji-happy:before {
  content: "\eb7c";
}
.i-emoji-happy:before {
  content: "\eb7d";
}
.i-emoji-happy:before {
  content: "\eb7e";
}
.i-emoji-happy-circle:before {
  content: "\eb7f";
}
.i-emoji-happy-circle:before {
  content: "\eb80";
}
.i-emoji-happy-circle:before {
  content: "\eb81";
}
.i-emoji-happy-circle:before {
  content: "\eb82";
}
.i-emoji-happy-circle:before {
  content: "\eb83";
}
.i-emoji-happy-circle:before {
  content: "\eb84";
}
.i-emoji-happy-circle:before {
  content: "\eb85";
}
.i-emoji-happy-circle:before {
  content: "\eb86";
}
.i-emoji-happy-circle:before {
  content: "\eb87";
}
.i-emoji-happy-missing:before {
  content: "\eb88";
}
.i-emoji-happy-missing:before {
  content: "\eb89";
}
.i-emoji-happy-missing:before {
  content: "\eb8a";
}
.i-emoji-happy-missing:before {
  content: "\eb8b";
}
.i-emoji-happy-simple:before {
  content: "\eb8c";
}
.i-emoji-happy-simple:before {
  content: "\eb8d";
}
.i-emoji-happy-simple:before {
  content: "\eb8e";
}
.i-emoji-happy-simple:before {
  content: "\eb8f";
}
.i-emoji-happy-simple:before {
  content: "\eb90";
}
.i-emoji-happy-simple:before {
  content: "\eb91";
}
.i-emoji-happy-simple:before {
  content: "\eb92";
}
.i-emoji-happy-simple:before {
  content: "\eb93";
}
.i-emoji-happy-square:before {
  content: "\eb94";
}
.i-emoji-happy-square:before {
  content: "\eb95";
}
.i-emoji-happy-square:before {
  content: "\eb96";
}
.i-emoji-happy-square:before {
  content: "\eb97";
}
.i-emoji-happy-square:before {
  content: "\eb98";
}
.i-emoji-happy-square:before {
  content: "\eb99";
}
.i-emoji-happy-square:before {
  content: "\eb9a";
}
.i-emoji-happy-square:before {
  content: "\eb9b";
}
.i-emoji-happy-square-round:before {
  content: "\eb9c";
}
.i-emoji-happy-square-round:before {
  content: "\eb9d";
}
.i-emoji-happy-square-round:before {
  content: "\eb9e";
}
.i-emoji-happy-square-round:before {
  content: "\eb9f";
}
.i-emoji-happy-square-round:before {
  content: "\eba0";
}
.i-emoji-happy-square-round:before {
  content: "\eba1";
}
.i-emoji-happy-square-round:before {
  content: "\eba2";
}
.i-emoji-happy-square-round:before {
  content: "\eba3";
}
.i-emoji-minecraft:before {
  content: "\eba4";
}
.i-emoji-minecraft:before {
  content: "\eba5";
}
.i-emoji-minecraft:before {
  content: "\eba6";
}
.i-emoji-minecraft:before {
  content: "\eba7";
}
.i-emoji-minecraft-missing:before {
  content: "\eba8";
}
.i-emoji-minecraft-missing:before {
  content: "\eba9";
}
.i-emoji-minecraft-simple:before {
  content: "\ebaa";
}
.i-emoji-minecraft-square:before {
  content: "\ebab";
}
.i-emoji-neutral:before {
  content: "\ebac";
}
.i-emoji-neutral:before {
  content: "\ebad";
}
.i-emoji-neutral:before {
  content: "\ebae";
}
.i-emoji-neutral:before {
  content: "\ebaf";
}
.i-emoji-neutral:before {
  content: "\ebb0";
}
.i-emoji-neutral:before {
  content: "\ebb1";
}
.i-emoji-neutral:before {
  content: "\ebb2";
}
.i-emoji-neutral:before {
  content: "\ebb3";
}
.i-emoji-neutral:before {
  content: "\ebb4";
}
.i-emoji-neutral:before {
  content: "\ebb5";
}
.i-emoji-neutral:before {
  content: "\ebb6";
}
.i-emoji-neutral:before {
  content: "\ebb7";
}
.i-emoji-neutral:before {
  content: "\ebb8";
}
.i-emoji-neutral:before {
  content: "\ebb9";
}
.i-emoji-neutral-circle:before {
  content: "\ebba";
}
.i-emoji-neutral-circle:before {
  content: "\ebbb";
}
.i-emoji-neutral-circle:before {
  content: "\ebbc";
}
.i-emoji-neutral-circle:before {
  content: "\ebbd";
}
.i-emoji-neutral-circle:before {
  content: "\ebbe";
}
.i-emoji-neutral-circle:before {
  content: "\ebbf";
}
.i-emoji-neutral-simple:before {
  content: "\ebc0";
}
.i-emoji-neutral-simple:before {
  content: "\ebc1";
}
.i-emoji-neutral-simple:before {
  content: "\ebc2";
}
.i-emoji-neutral-simple-glasses:before {
  content: "\ebc3";
}
.i-emoji-neutral-simple-glasses:before {
  content: "\ebc4";
}
.i-emoji-neutral-simple-glasses:before {
  content: "\ebc5";
}
.i-emoji-neutral-simple-glasses:before {
  content: "\ebc6";
}
.i-emoji-neutral-square:before {
  content: "\ebc7";
}
.i-emoji-neutral-square:before {
  content: "\ebc8";
}
.i-emoji-neutral-square:before {
  content: "\ebc9";
}
.i-emoji-neutral-square-glasses:before {
  content: "\ebca";
}
.i-emoji-neutral-square-glasses:before {
  content: "\ebcb";
}
.i-emoji-neutral-square-glasses:before {
  content: "\ebcc";
}
.i-emoji-neutral-square-glasses:before {
  content: "\ebcd";
}
.i-emoji-neutral-square-round:before {
  content: "\ebce";
}
.i-emoji-neutral-square-round:before {
  content: "\ebcf";
}
.i-emoji-neutral-square-round:before {
  content: "\ebd0";
}
.i-emoji-neutral-square-round-glasses:before {
  content: "\ebd1";
}
.i-emoji-neutral-square-round-glasses:before {
  content: "\ebd2";
}
.i-emoji-neutral-square-round-glasses:before {
  content: "\ebd3";
}
.i-emoji-neutral-square-round-glasses:before {
  content: "\ebd4";
}
.i-emoji-sad:before {
  content: "\ebd5";
}
.i-emoji-sad:before {
  content: "\ebd6";
}
.i-emoji-sad:before {
  content: "\ebd7";
}
.i-emoji-sad:before {
  content: "\ebd8";
}
.i-emoji-sad:before {
  content: "\ebd9";
}
.i-emoji-sad:before {
  content: "\ebda";
}
.i-emoji-sad:before {
  content: "\ebdb";
}
.i-emoji-sad:before {
  content: "\ebdc";
}
.i-emoji-sad:before {
  content: "\ebdd";
}
.i-emoji-sad:before {
  content: "\ebde";
}
.i-emoji-sad:before {
  content: "\ebdf";
}
.i-emoji-sad:before {
  content: "\ebe0";
}
.i-emoji-sad:before {
  content: "\ebe1";
}
.i-emoji-sad:before {
  content: "\ebe2";
}
.i-emoji-sad:before {
  content: "\ebe3";
}
.i-emoji-sad:before {
  content: "\ebe4";
}
.i-emoji-sad-circle:before {
  content: "\ebe5";
}
.i-emoji-sad-circle:before {
  content: "\ebe6";
}
.i-emoji-sad-circle:before {
  content: "\ebe7";
}
.i-emoji-sad-circle:before {
  content: "\ebe8";
}
.i-emoji-sad-circle:before {
  content: "\ebe9";
}
.i-emoji-sad-circle:before {
  content: "\ebea";
}
.i-emoji-sad-circle:before {
  content: "\ebeb";
}
.i-emoji-sad-circle:before {
  content: "\ebec";
}
.i-emoji-sad-missing:before {
  content: "\ebed";
}
.i-emoji-sad-missing:before {
  content: "\ebee";
}
.i-emoji-sad-missing:before {
  content: "\ebef";
}
.i-emoji-sad-missing:before {
  content: "\ebf0";
}
.i-emoji-sad-simple:before {
  content: "\ebf1";
}
.i-emoji-sad-simple:before {
  content: "\ebf2";
}
.i-emoji-sad-simple:before {
  content: "\ebf3";
}
.i-emoji-sad-simple:before {
  content: "\ebf4";
}
.i-emoji-sad-simple:before {
  content: "\ebf5";
}
.i-emoji-sad-simple:before {
  content: "\ebf6";
}
.i-emoji-sad-square:before {
  content: "\ebf7";
}
.i-emoji-sad-square:before {
  content: "\ebf8";
}
.i-emoji-sad-square:before {
  content: "\ebf9";
}
.i-emoji-sad-square:before {
  content: "\ebfa";
}
.i-emoji-sad-square:before {
  content: "\ebfb";
}
.i-emoji-sad-square:before {
  content: "\ebfc";
}
.i-emoji-sad-square-round:before {
  content: "\ebfd";
}
.i-emoji-sad-square-round:before {
  content: "\ebfe";
}
.i-emoji-sad-square-round:before {
  content: "\ebff";
}
.i-emoji-sad-square-round:before {
  content: "\ec00";
}
.i-emoji-sad-square-round:before {
  content: "\ec01";
}
.i-emoji-sad-square-round:before {
  content: "\ec02";
}
.i-emoji-simple-no-face-circle:before {
  content: "\ec03";
}
.i-emoji-simple-non-face-circle:before {
  content: "\ec04";
}
.i-emoji-surprised:before {
  content: "\ec05";
}
.i-emoji-surprised:before {
  content: "\ec06";
}
.i-emoji-surprised:before {
  content: "\ec07";
}
.i-emoji-surprised:before {
  content: "\ec08";
}
.i-emoji-surprised:before {
  content: "\ec09";
}
.i-emoji-surprised:before {
  content: "\ec0a";
}
.i-emoji-surprised:before {
  content: "\ec0b";
}
.i-emoji-surprised:before {
  content: "\ec0c";
}
.i-emoji-surprised-circle:before {
  content: "\ec0d";
}
.i-emoji-surprised-circle:before {
  content: "\ec0e";
}
.i-emoji-surprised-circle:before {
  content: "\ec0f";
}
.i-emoji-surprised-circle:before {
  content: "\ec10";
}
.i-emoji-surprised-missing:before {
  content: "\ec11";
}
.i-emoji-surprised-missing:before {
  content: "\ec12";
}
.i-emoji-surprised-simple:before {
  content: "\ec13";
}
.i-emoji-surprised-simple:before {
  content: "\ec14";
}
.i-emoji-surprised-simple-glasses:before {
  content: "\ec15";
}
.i-emoji-surprised-simple-glasses:before {
  content: "\ec16";
}
.i-emoji-surprised-square:before {
  content: "\ec17";
}
.i-emoji-surprised-square:before {
  content: "\ec18";
}
.i-emoji-surprised-square-glasses:before {
  content: "\ec19";
}
.i-emoji-surprised-square-glasses:before {
  content: "\ec1a";
}
.i-emoji-surprised-square-round:before {
  content: "\ec1b";
}
.i-emoji-surprised-square-round:before {
  content: "\ec1c";
}
.i-emoji-surprised-square-round-glasses:before {
  content: "\ec1d";
}
.i-emoji-surprised-square-round-glasses:before {
  content: "\ec1e";
}
.i-emoji-tongue-sticking-out-:before {
  content: "\ec1f";
}
.i-emoji-tongue-sticking-out-:before {
  content: "\ec20";
}
.i-emoji-tongue-sticking-out-:before {
  content: "\ec21";
}
.i-emoji-tongue-sticking-out--circle:before {
  content: "\ec22";
}
.i-emoji-tongue-sticking-out--circle:before {
  content: "\ec23";
}
.i-emoji-tongue-sticking-out--simple:before {
  content: "\ec24";
}
.i-emoji-tongue-sticking-out--square:before {
  content: "\ec25";
}
.i-emoji-tongue-sticking-out--square:before {
  content: "\ec26";
}
.i-emoji-tongue-sticking-out--square-round:before {
  content: "\ec27";
}
.i-emoji-tongue-sticking-out--square-round:before {
  content: "\ec28";
}
.i-emoji-tongue-sticking-out:before {
  content: "\ec29";
}
.i-emoji-tongue-sticking-out-simple:before {
  content: "\ec2a";
}
.i-euro:before {
  content: "\ec2b";
}
.i-evernote:before {
  content: "\ec2c";
}
.i-exclude:before {
  content: "\ec2d";
}
.i-exclude-round:before {
  content: "\ec2e";
}
.i-exit-focus:before {
  content: "\ec2f";
}
.i-exit-focus-round:before {
  content: "\ec30";
}
.i-exit-full-screen:before {
  content: "\ec31";
}
.i-eyes:before {
  content: "\ec32";
}
.i-facebook:before {
  content: "\ec33";
}
.i-fahrenheit:before {
  content: "\ec34";
}
.i-fahrenheit:before {
  content: "\ec35";
}
.i-female:before {
  content: "\ec36";
}
.i-file:before {
  content: "\ec37";
}
.i-file:before {
  content: "\ec38";
}
.i-file:before {
  content: "\ec39";
}
.i-file-ai:before {
  content: "\ec3a";
}
.i-file-ai:before {
  content: "\ec3b";
}
.i-file-arrow-down:before {
  content: "\ec3c";
}
.i-file-arrow-down:before {
  content: "\ec3d";
}
.i-file-arrow-down:before {
  content: "\ec3e";
}
.i-file-arrow-down:before {
  content: "\ec3f";
}
.i-file-arrow-up:before {
  content: "\ec40";
}
.i-file-arrow-up:before {
  content: "\ec41";
}
.i-file-arrow-up:before {
  content: "\ec42";
}
.i-file-arrow-up:before {
  content: "\ec43";
}
.i-file-close:before {
  content: "\ec44";
}
.i-file-close:before {
  content: "\ec45";
}
.i-file-cpp:before {
  content: "\ec46";
}
.i-file-cpp:before {
  content: "\ec47";
}
.i-file-css:before {
  content: "\ec48";
}
.i-file-css:before {
  content: "\ec49";
}
.i-file-doc:before {
  content: "\ec4a";
}
.i-file-doc:before {
  content: "\ec4b";
}
.i-file-done:before {
  content: "\ec4c";
}
.i-file-done:before {
  content: "\ec4d";
}
.i-file-double:before {
  content: "\ec4e";
}
.i-file-double:before {
  content: "\ec4f";
}
.i-file-eps:before {
  content: "\ec50";
}
.i-file-eps:before {
  content: "\ec51";
}
.i-file-exe:before {
  content: "\ec52";
}
.i-file-exe:before {
  content: "\ec53";
}
.i-file-favorite:before {
  content: "\ec54";
}
.i-file-favorite:before {
  content: "\ec55";
}
.i-file-gif:before {
  content: "\ec56";
}
.i-file-gif:before {
  content: "\ec57";
}
.i-file-header:before {
  content: "\ec58";
}
.i-file-image:before {
  content: "\ec59";
}
.i-file-image:before {
  content: "\ec5a";
}
.i-file-image:before {
  content: "\ec5b";
}
.i-file-image:before {
  content: "\ec5c";
}
.i-file-information:before {
  content: "\ec5d";
}
.i-file-information:before {
  content: "\ec5e";
}
.i-file-information:before {
  content: "\ec5f";
}
.i-file-iso:before {
  content: "\ec60";
}
.i-file-iso:before {
  content: "\ec61";
}
.i-file-jar:before {
  content: "\ec62";
}
.i-file-jar:before {
  content: "\ec63";
}
.i-file-jpg:before {
  content: "\ec64";
}
.i-file-jpg:before {
  content: "\ec65";
}
.i-file-jps:before {
  content: "\ec66";
}
.i-file-jps:before {
  content: "\ec67";
}
.i-file-js:before {
  content: "\ec68";
}
.i-file-js:before {
  content: "\ec69";
}
.i-file-locked:before {
  content: "\ec6a";
}
.i-file-love-favorite:before {
  content: "\ec6b";
}
.i-file-love-favorite:before {
  content: "\ec6c";
}
.i-file-mini:before {
  content: "\ec6d";
}
.i-file-mini:before {
  content: "\ec6e";
}
.i-file-minus:before {
  content: "\ec6f";
}
.i-file-minus:before {
  content: "\ec70";
}
.i-file-missing:before {
  content: "\ec71";
}
.i-file-missing:before {
  content: "\ec72";
}
.i-file-missing:before {
  content: "\ec73";
}
.i-file-missing:before {
  content: "\ec74";
}
.i-file-missing-close:before {
  content: "\ec75";
}
.i-file-missing-close:before {
  content: "\ec76";
}
.i-file-missing-done:before {
  content: "\ec77";
}
.i-file-missing-love-favorite:before {
  content: "\ec78";
}
.i-file-missing-love-favorite:before {
  content: "\ec79";
}
.i-file-missing-minus:before {
  content: "\ec7a";
}
.i-file-missing-minus:before {
  content: "\ec7b";
}
.i-file-missing-plus:before {
  content: "\ec7c";
}
.i-file-music-player:before {
  content: "\ec7d";
}
.i-file-music-player:before {
  content: "\ec7e";
}
.i-file-pdf:before {
  content: "\ec7f";
}
.i-file-pdf:before {
  content: "\ec80";
}
.i-file-php:before {
  content: "\ec81";
}
.i-file-php:before {
  content: "\ec82";
}
.i-file-play-media:before {
  content: "\ec83";
}
.i-file-player-media:before {
  content: "\ec84";
}
.i-file-plus:before {
  content: "\ec85";
}
.i-file-plus:before {
  content: "\ec86";
}
.i-file-png:before {
  content: "\ec87";
}
.i-file-png:before {
  content: "\ec88";
}
.i-file-ps:before {
  content: "\ec89";
}
.i-file-ps:before {
  content: "\ec8a";
}
.i-file-psd:before {
  content: "\ec8b";
}
.i-file-psd:before {
  content: "\ec8c";
}
.i-file-py:before {
  content: "\ec8d";
}
.i-file-py:before {
  content: "\ec8e";
}
.i-file-rar:before {
  content: "\ec8f";
}
.i-file-rar:before {
  content: "\ec90";
}
.i-file-rss:before {
  content: "\ec91";
}
.i-file-rss:before {
  content: "\ec92";
}
.i-file-sketch:before {
  content: "\ec93";
}
.i-file-sketch:before {
  content: "\ec94";
}
.i-file-src:before {
  content: "\ec95";
}
.i-file-src:before {
  content: "\ec96";
}
.i-file-svg:before {
  content: "\ec97";
}
.i-file-svg:before {
  content: "\ec98";
}
.i-file-text-data:before {
  content: "\ec99";
}
.i-file-text-data:before {
  content: "\ec9a";
}
.i-file-text-data:before {
  content: "\ec9b";
}
.i-file-text-data:before {
  content: "\ec9c";
}
.i-file-text-data:before {
  content: "\ec9d";
}
.i-file-txt:before {
  content: "\ec9e";
}
.i-file-txt:before {
  content: "\ec9f";
}
.i-file-url:before {
  content: "\eca0";
}
.i-file-url:before {
  content: "\eca1";
}
.i-file-zip:before {
  content: "\eca2";
}
.i-file-zip:before {
  content: "\eca3";
}
.i-fileboard:before {
  content: "\eca4";
}
.i-fileboard:before {
  content: "\eca5";
}
.i-fileboard:before {
  content: "\eca6";
}
.i-fileboard-checklist:before {
  content: "\eca7";
}
.i-fileboard-checklist:before {
  content: "\eca8";
}
.i-fileboard-close:before {
  content: "\eca9";
}
.i-fileboard-close:before {
  content: "\ecaa";
}
.i-fileboard-done:before {
  content: "\ecab";
}
.i-fileboard-done:before {
  content: "\ecac";
}
.i-fileboard-love-favorite:before {
  content: "\ecad";
}
.i-fileboard-love-favorite:before {
  content: "\ecae";
}
.i-fileboard-minus:before {
  content: "\ecaf";
}
.i-fileboard-minus:before {
  content: "\ecb0";
}
.i-fileboard-plus:before {
  content: "\ecb1";
}
.i-fileboard-plus:before {
  content: "\ecb2";
}
.i-filter:before {
  content: "\ecb3";
}
.i-finish-line:before {
  content: "\ecb4";
}
.i-finish-line:before {
  content: "\ecb5";
}
.i-flag:before {
  content: "\ecb6";
}
.i-flag:before {
  content: "\ecb7";
}
.i-flag-bug-report:before {
  content: "\ecb8";
}
.i-flag-bug-report:before {
  content: "\ecb9";
}
.i-flash:before {
  content: "\ecba";
}
.i-flower:before {
  content: "\ecbb";
}
.i-flower:before {
  content: "\ecbc";
}
.i-focus:before {
  content: "\ecbd";
}
.i-focus-center:before {
  content: "\ecbe";
}
.i-focus-center-round:before {
  content: "\ecbf";
}
.i-focus-horizontal:before {
  content: "\ecc0";
}
.i-focus-horizontal-round-round:before {
  content: "\ecc1";
}
.i-focus-plus:before {
  content: "\ecc2";
}
.i-focus-plus-round:before {
  content: "\ecc3";
}
.i-focus-point:before {
  content: "\ecc4";
}
.i-focus-point:before {
  content: "\ecc5";
}
.i-focus-point:before {
  content: "\ecc6";
}
.i-focus-point-round:before {
  content: "\ecc7";
}
.i-focus-vertical:before {
  content: "\ecc8";
}
.i-focus-vertical-round:before {
  content: "\ecc9";
}
.i-folder--plus-fill:before {
  content: "\ecca";
}
.i-folder:before {
  content: "\eccb";
}
.i-folder:before {
  content: "\eccc";
}
.i-folder:before {
  content: "\eccd";
}
.i-folder:before {
  content: "\ecce";
}
.i-folder:before {
  content: "\eccf";
}
.i-folder:before {
  content: "\ecd0";
}
.i-folder:before {
  content: "\ecd1";
}
.i-folder:before {
  content: "\ecd2";
}
.i-folder-fill:before {
  content: "\ecd3";
}
.i-folder-fill:before {
  content: "\ecd4";
}
.i-folder-fill:before {
  content: "\ecd5";
}
.i-folder-minus:before {
  content: "\ecd6";
}
.i-folder-minus:before {
  content: "\ecd7";
}
.i-folder-minus-fill:before {
  content: "\ecd8";
}
.i-folder-minus-minus:before {
  content: "\ecd9";
}
.i-folder-minus-minus:before {
  content: "\ecda";
}
.i-folder-minus-minus-fill:before {
  content: "\ecdb";
}
.i-folder-plus:before {
  content: "\ecdc";
}
.i-folder-plus:before {
  content: "\ecdd";
}
.i-folder-plus:before {
  content: "\ecde";
}
.i-folder-plus:before {
  content: "\ecdf";
}
.i-folder-plus-fill:before {
  content: "\ece0";
}
.i-football:before {
  content: "\ece1";
}
.i-foursquare:before {
  content: "\ece2";
}
.i-full-screen:before {
  content: "\ece3";
}
.i-gallery-grid-view:before {
  content: "\ece4";
}
.i-gallery-grid-view:before {
  content: "\ece5";
}
.i-gallery-grid-view:before {
  content: "\ece6";
}
.i-gallery-grid-view:before {
  content: "\ece7";
}
.i-game-controller:before {
  content: "\ece8";
}
.i-game-controller:before {
  content: "\ece9";
}
.i-game-controller:before {
  content: "\ecea";
}
.i-game-controller:before {
  content: "\eceb";
}
.i-game-controller:before {
  content: "\ecec";
}
.i-game-controller-round:before {
  content: "\eced";
}
.i-game-controller-round:before {
  content: "\ecee";
}
.i-game-controller-round:before {
  content: "\ecef";
}
.i-game-controller-round:before {
  content: "\ecf0";
}
.i-game-of-thrones:before {
  content: "\ecf1";
}
.i-games:before {
  content: "\ecf2";
}
.i-ghost:before {
  content: "\ecf3";
}
.i-ghost:before {
  content: "\ecf4";
}
.i-ghost:before {
  content: "\ecf5";
}
.i-github:before {
  content: "\ecf6";
}
.i-glasses:before {
  content: "\ecf7";
}
.i-glasses:before {
  content: "\ecf8";
}
.i-glasses:before {
  content: "\ecf9";
}
.i-globe-network:before {
  content: "\ecfa";
}
.i-golf:before {
  content: "\ecfb";
}
.i-google:before {
  content: "\ecfc";
}
.i-google-chrome:before {
  content: "\ecfd";
}
.i-google-drive:before {
  content: "\ecfe";
}
.i-google-play:before {
  content: "\ecff";
}
.i-google-plus:before {
  content: "\ed00";
}
.i-google-wallet:before {
  content: "\ed01";
}
.i-grid:before {
  content: "\ed02";
}
.i-grid:before {
  content: "\ed03";
}
.i-grid:before {
  content: "\ed04";
}
.i-grid-system:before {
  content: "\ed05";
}
.i-hanger:before {
  content: "\ed06";
}
.i-hangouts:before {
  content: "\ed07";
}
.i-HD:before {
  content: "\ed08";
}
.i-HD:before {
  content: "\ed09";
}
.i-header:before {
  content: "\ed0a";
}
.i-headphones:before {
  content: "\ed0b";
}
.i-hello-internet:before {
  content: "\ed0c";
}
.i-helmet:before {
  content: "\ed0d";
}
.i-helmet:before {
  content: "\ed0e";
}
.i-helmet:before {
  content: "\ed0f";
}
.i-helmet:before {
  content: "\ed10";
}
.i-helmet-round:before {
  content: "\ed11";
}
.i-helmet-round:before {
  content: "\ed12";
}
.i-help:before {
  content: "\ed13";
}
.i-help:before {
  content: "\ed14";
}
.i-home:before {
  content: "\ed15";
}
.i-home:before {
  content: "\ed16";
}
.i-home:before {
  content: "\ed17";
}
.i-hospital:before {
  content: "\ed18";
}
.i-hospital:before {
  content: "\ed19";
}
.i-hospital:before {
  content: "\ed1a";
}
.i-hospital:before {
  content: "\ed1b";
}
.i-hot-air-balloon:before {
  content: "\ed1c";
}
.i-hot-air-balloon:before {
  content: "\ed1d";
}
.i-hot-air-balloon:before {
  content: "\ed1e";
}
.i-hot-air-balloon:before {
  content: "\ed1f";
}
.i-html:before {
  content: "\ed20";
}
.i-image:before {
  content: "\ed21";
}
.i-image:before {
  content: "\ed22";
}
.i-image-cover:before {
  content: "\ed23";
}
.i-image-picture:before {
  content: "\ed24";
}
.i-image-picture:before {
  content: "\ed25";
}
.i-image-picture:before {
  content: "\ed26";
}
.i-image-picture:before {
  content: "\ed27";
}
.i-image-picture:before {
  content: "\ed28";
}
.i-image-picture:before {
  content: "\ed29";
}
.i-image-picture:before {
  content: "\ed2a";
}
.i-image-picture:before {
  content: "\ed2b";
}
.i-image-plus:before {
  content: "\ed2c";
}
.i-images:before {
  content: "\ed2d";
}
.i-images:before {
  content: "\ed2e";
}
.i-images-round:before {
  content: "\ed2f";
}
.i-important-details:before {
  content: "\ed30";
}
.i-important-details:before {
  content: "\ed31";
}
.i-important-message:before {
  content: "\ed32";
}
.i-important-message:before {
  content: "\ed33";
}
.i-inbox-close:before {
  content: "\ed34";
}
.i-inbox-close-round:before {
  content: "\ed35";
}
.i-inbox-done:before {
  content: "\ed36";
}
.i-inbox-done-round:before {
  content: "\ed37";
}
.i-inbox-down:before {
  content: "\ed38";
}
.i-inbox-down-round:before {
  content: "\ed39";
}
.i-inbox-empty:before {
  content: "\ed3a";
}
.i-inbox-empty-round:before {
  content: "\ed3b";
}
.i-inbox-minus:before {
  content: "\ed3c";
}
.i-inbox-minus-round:before {
  content: "\ed3d";
}
.i-inbox-paper:before {
  content: "\ed3e";
}
.i-inbox-paper-round:before {
  content: "\ed3f";
}
.i-inbox-plus:before {
  content: "\ed40";
}
.i-inbox-plus-round:before {
  content: "\ed41";
}
.i-inbox-up:before {
  content: "\ed42";
}
.i-inbox-up-round:before {
  content: "\ed43";
}
.i-infinity:before {
  content: "\ed44";
}
.i-infinity:before {
  content: "\ed45";
}
.i-information:before {
  content: "\ed46";
}
.i-information:before {
  content: "\ed47";
}
.i-information:before {
  content: "\ed48";
}
.i-instagram:before {
  content: "\ed49";
}
.i-invision:before {
  content: "\ed4a";
}
.i-javascript:before {
  content: "\ed4b";
}
.i-key:before {
  content: "\ed4c";
}
.i-key:before {
  content: "\ed4d";
}
.i-key-round:before {
  content: "\ed4e";
}
.i-key-round:before {
  content: "\ed4f";
}
.i-king:before {
  content: "\ed50";
}
.i-leaf:before {
  content: "\ed51";
}
.i-leaf:before {
  content: "\ed52";
}
.i-leaf:before {
  content: "\ed53";
}
.i-light-bulb:before {
  content: "\ed54";
}
.i-lightning:before {
  content: "\ed55";
}
.i-lightning:before {
  content: "\ed56";
}
.i-like:before {
  content: "\ed57";
}
.i-like:before {
  content: "\ed58";
}
.i-link:before {
  content: "\ed59";
}
.i-link-round:before {
  content: "\ed5a";
}
.i-link-round:before {
  content: "\ed5b";
}
.i-linkbroken-down:before {
  content: "\ed5c";
}
.i-linkbroken-down-round:before {
  content: "\ed5d";
}
.i-linkbroken-down-round:before {
  content: "\ed5e";
}
.i-linkedin:before {
  content: "\ed5f";
}
.i-linux-ubuntu:before {
  content: "\ed60";
}
.i-lire:before {
  content: "\ed61";
}
.i-list:before {
  content: "\ed62";
}
.i-list:before {
  content: "\ed63";
}
.i-list:before {
  content: "\ed64";
}
.i-list:before {
  content: "\ed65";
}
.i-list:before {
  content: "\ed66";
}
.i-list:before {
  content: "\ed67";
}
.i-list:before {
  content: "\ed68";
}
.i-lock-circle-close:before {
  content: "\ed69";
}
.i-lock-circle-close-round:before {
  content: "\ed6a";
}
.i-lock-circle-open:before {
  content: "\ed6b";
}
.i-lock-circle-open-round:before {
  content: "\ed6c";
}
.i-lock-close:before {
  content: "\ed6d";
}
.i-lock-close-cx:before {
  content: "\ed6e";
}
.i-lock-close-cx-round:before {
  content: "\ed6f";
}
.i-lock-close-minus-round:before {
  content: "\ed70";
}
.i-lock-close-plus:before {
  content: "\ed71";
}
.i-lock-close-plus:before {
  content: "\ed72";
}
.i-lock-close-plus-round:before {
  content: "\ed73";
}
.i-lock-close-round:before {
  content: "\ed74";
}
.i-lock-open:before {
  content: "\ed75";
}
.i-lock-open-cx:before {
  content: "\ed76";
}
.i-lock-open-cx-round:before {
  content: "\ed77";
}
.i-lock-open-minus-round:before {
  content: "\ed78";
}
.i-lock-open-plus:before {
  content: "\ed79";
}
.i-lock-open-plus:before {
  content: "\ed7a";
}
.i-lock-open-plus-round:before {
  content: "\ed7b";
}
.i-lock-open-round:before {
  content: "\ed7c";
}
.i-love:before {
  content: "\ed7d";
}
.i-love:before {
  content: "\ed7e";
}
.i-magnet:before {
  content: "\ed7f";
}
.i-magnet:before {
  content: "\ed80";
}
.i-male:before {
  content: "\ed81";
}
.i-map:before {
  content: "\ed82";
}
.i-map-round:before {
  content: "\ed83";
}
.i-marvelapp:before {
  content: "\ed84";
}
.i-maze:before {
  content: "\ed85";
}
.i-medal:before {
  content: "\ed86";
}
.i-medal:before {
  content: "\ed87";
}
.i-medium:before {
  content: "\ed88";
}
.i-megaphone:before {
  content: "\ed89";
}
.i-megaphone:before {
  content: "\ed8a";
}
.i-menu-list:before {
  content: "\ed8b";
}
.i-menu-navigation-grid:before {
  content: "\ed8c";
}
.i-menu-navigation-grid:before {
  content: "\ed8d";
}
.i-menu-navigation-grid:before {
  content: "\ed8e";
}
.i-menu-option:before {
  content: "\ed8f";
}
.i-menu-option:before {
  content: "\ed90";
}
.i-menu-option:before {
  content: "\ed91";
}
.i-message:before {
  content: "\ed92";
}
.i-message:before {
  content: "\ed93";
}
.i-message:before {
  content: "\ed94";
}
.i-message:before {
  content: "\ed95";
}
.i-message-one-point:before {
  content: "\ed96";
}
.i-message-one-point:before {
  content: "\ed97";
}
.i-message-one-point:before {
  content: "\ed98";
}
.i-message-three-points:before {
  content: "\ed99";
}
.i-message-three-points:before {
  content: "\ed9a";
}
.i-message-three-points:before {
  content: "\ed9b";
}
.i-messager:before {
  content: "\ed9c";
}
.i-messages-chat:before {
  content: "\ed9d";
}
.i-microphone:before {
  content: "\ed9e";
}
.i-microphone:before {
  content: "\ed9f";
}
.i-microphone:before {
  content: "\eda0";
}
.i-microphone:before {
  content: "\eda1";
}
.i-microphone:before {
  content: "\eda2";
}
.i-microsoft:before {
  content: "\eda3";
}
.i-mill:before {
  content: "\eda4";
}
.i-mill-half:before {
  content: "\eda5";
}
.i-minus:before {
  content: "\eda6";
}
.i-minus:before {
  content: "\eda7";
}
.i-minus:before {
  content: "\eda8";
}
.i-minus:before {
  content: "\eda9";
}
.i-minus-circle:before {
  content: "\edaa";
}
.i-minus-circle:before {
  content: "\edab";
}
.i-minus-circle:before {
  content: "\edac";
}
.i-money:before {
  content: "\edad";
}
.i-money:before {
  content: "\edae";
}
.i-money:before {
  content: "\edaf";
}
.i-money:before {
  content: "\edb0";
}
.i-money-round:before {
  content: "\edb1";
}
.i-money-round:before {
  content: "\edb2";
}
.i-money-round:before {
  content: "\edb3";
}
.i-moon:before {
  content: "\edb4";
}
.i-moon:before {
  content: "\edb5";
}
.i-moon:before {
  content: "\edb6";
}
.i-moon:before {
  content: "\edb7";
}
.i-moon:before {
  content: "\edb8";
}
.i-moon:before {
  content: "\edb9";
}
.i-moon:before {
  content: "\edba";
}
.i-moon:before {
  content: "\edbb";
}
.i-moon:before {
  content: "\edbc";
}
.i-mouse:before {
  content: "\edbd";
}
.i-mouse:before {
  content: "\edbe";
}
.i-mouse:before {
  content: "\edbf";
}
.i-mouse:before {
  content: "\edc0";
}
.i-mouse:before {
  content: "\edc1";
}
.i-mouse--window:before {
  content: "\edc2";
}
.i-mouse--window:before {
  content: "\edc3";
}
.i-mouse-pointer:before {
  content: "\edc4";
}
.i-movement-focus:before {
  content: "\edc5";
}
.i-movement-focus-round:before {
  content: "\edc6";
}
.i-movie-frames:before {
  content: "\edc7";
}
.i-mr-robot:before {
  content: "\edc8";
}
.i-mu-sign:before {
  content: "\edc9";
}
.i-multitasking:before {
  content: "\edca";
}
.i-multitasking:before {
  content: "\edcb";
}
.i-music:before {
  content: "\edcc";
}
.i-music:before {
  content: "\edcd";
}
.i-music:before {
  content: "\edce";
}
.i-music:before {
  content: "\edcf";
}
.i-music:before {
  content: "\edd0";
}
.i-music:before {
  content: "\edd1";
}
.i-music:before {
  content: "\edd2";
}
.i-naruto:before {
  content: "\edd3";
}
.i-network-2-right:before {
  content: "\edd4";
}
.i-network-2:before {
  content: "\edd5";
}
.i-network-2:before {
  content: "\edd6";
}
.i-network-2:before {
  content: "\edd7";
}
.i-network-2-round:before {
  content: "\edd8";
}
.i-network-2-round:before {
  content: "\edd9";
}
.i-network-3:before {
  content: "\edda";
}
.i-network-3:before {
  content: "\eddb";
}
.i-network-3:before {
  content: "\eddc";
}
.i-network-3-round:before {
  content: "\eddd";
}
.i-network-3-round:before {
  content: "\edde";
}
.i-new-tab:before {
  content: "\eddf";
}
.i-news-grid:before {
  content: "\ede0";
}
.i-news-grid:before {
  content: "\ede1";
}
.i-next:before {
  content: "\ede2";
}
.i-next:before {
  content: "\ede3";
}
.i-next-arrow:before {
  content: "\ede4";
}
.i-next-arrow:before {
  content: "\ede5";
}
.i-next-arrow:before {
  content: "\ede6";
}
.i-next-arrow:before {
  content: "\ede7";
}
.i-next-arrow:before {
  content: "\ede8";
}
.i-next-arrow:before {
  content: "\ede9";
}
.i-next-arrow:before {
  content: "\edea";
}
.i-next-arrow:before {
  content: "\edeb";
}
.i-nightlight:before {
  content: "\edec";
}
.i-nightlight:before {
  content: "\eded";
}
.i-notebook:before {
  content: "\edee";
}
.i-notebook:before {
  content: "\edef";
}
.i-notebook:before {
  content: "\edf0";
}
.i-notebook:before {
  content: "\edf1";
}
.i-notebook:before {
  content: "\edf2";
}
.i-notebook-and-pen:before {
  content: "\edf3";
}
.i-notebook-and-pen:before {
  content: "\edf4";
}
.i-notebook-and-pen:before {
  content: "\edf5";
}
.i-notebook-and-pen:before {
  content: "\edf6";
}
.i-notebook-and-pen:before {
  content: "\edf7";
}
.i-notebook-and-pen:before {
  content: "\edf8";
}
.i-notebook-and-pen:before {
  content: "\edf9";
}
.i-notebook-and-pen:before {
  content: "\edfa";
}
.i-notification-bell:before {
  content: "\edfb";
}
.i-notification-bell:before {
  content: "\edfc";
}
.i-notification-bell:before {
  content: "\edfd";
}
.i-notification-bell:before {
  content: "\edfe";
}
.i-notification-bell:before {
  content: "\edff";
}
.i-number-sign:before {
  content: "\ee00";
}
.i-object-alignment:before {
  content: "\ee01";
}
.i-object-alignment:before {
  content: "\ee02";
}
.i-object-alignment:before {
  content: "\ee03";
}
.i-object-alignment:before {
  content: "\ee04";
}
.i-object-alignment:before {
  content: "\ee05";
}
.i-object-alignment-round:before {
  content: "\ee06";
}
.i-object-alignment-round:before {
  content: "\ee07";
}
.i-object-alignment-round:before {
  content: "\ee08";
}
.i-object-alignment-round:before {
  content: "\ee09";
}
.i-object-connection:before {
  content: "\ee0a";
}
.i-object-connection:before {
  content: "\ee0b";
}
.i-object-connection:before {
  content: "\ee0c";
}
.i-object-connection:before {
  content: "\ee0d";
}
.i-object-connection:before {
  content: "\ee0e";
}
.i-object-connection:before {
  content: "\ee0f";
}
.i-object-connection:before {
  content: "\ee10";
}
.i-object-connection-round:before {
  content: "\ee11";
}
.i-object-connection-round:before {
  content: "\ee12";
}
.i-object-connection-round:before {
  content: "\ee13";
}
.i-object-connection-round:before {
  content: "\ee14";
}
.i-object-connection-round:before {
  content: "\ee15";
}
.i-object-connection-round:before {
  content: "\ee16";
}
.i-object-connection-round:before {
  content: "\ee17";
}
.i-object-distribution:before {
  content: "\ee18";
}
.i-object-distribution-round:before {
  content: "\ee19";
}
.i-object-placement:before {
  content: "\ee1a";
}
.i-object-placement:before {
  content: "\ee1b";
}
.i-object-placement:before {
  content: "\ee1c";
}
.i-object-placement:before {
  content: "\ee1d";
}
.i-object-placement:before {
  content: "\ee1e";
}
.i-object-placement:before {
  content: "\ee1f";
}
.i-object-placement:before {
  content: "\ee20";
}
.i-object-placement:before {
  content: "\ee21";
}
.i-oil:before {
  content: "\ee22";
}
.i-oil-round:before {
  content: "\ee23";
}
.i-open-box:before {
  content: "\ee24";
}
.i-open-box:before {
  content: "\ee25";
}
.i-option-bar-settings:before {
  content: "\ee26";
}
.i-option-bar-settings:before {
  content: "\ee27";
}
.i-option-bar-settings:before {
  content: "\ee28";
}
.i-pac-man:before {
  content: "\ee29";
}
.i-paragraph:before {
  content: "\ee2a";
}
.i-patreon:before {
  content: "\ee2b";
}
.i-pause:before {
  content: "\ee2c";
}
.i-pause:before {
  content: "\ee2d";
}
.i-pause:before {
  content: "\ee2e";
}
.i-pause-focus:before {
  content: "\ee2f";
}
.i-pause-focus:before {
  content: "\ee30";
}
.i-paypal:before {
  content: "\ee31";
}
.i-pen:before {
  content: "\ee32";
}
.i-pen:before {
  content: "\ee33";
}
.i-pen:before {
  content: "\ee34";
}
.i-periscope:before {
  content: "\ee35";
}
.i-phone:before {
  content: "\ee36";
}
.i-phone:before {
  content: "\ee37";
}
.i-phone:before {
  content: "\ee38";
}
.i-phone:before {
  content: "\ee39";
}
.i-phone-desktop:before {
  content: "\ee3a";
}
.i-phone-desktop:before {
  content: "\ee3b";
}
.i-phone-phone:before {
  content: "\ee3c";
}
.i-phone-phone:before {
  content: "\ee3d";
}
.i-phone-rotation:before {
  content: "\ee3e";
}
.i-phone-rotation:before {
  content: "\ee3f";
}
.i-phone-rotation:before {
  content: "\ee40";
}
.i-phone-rotation:before {
  content: "\ee41";
}
.i-pin-fill-rounded-circle:before {
  content: "\ee42";
}
.i-pin-fill-rounded-circle:before {
  content: "\ee43";
}
.i-pin-fill-rounded-close:before {
  content: "\ee44";
}
.i-pin-fill-rounded-minus:before {
  content: "\ee45";
}
.i-pin-fill-rounded-plus:before {
  content: "\ee46";
}
.i-pin-fill-sharp-circle:before {
  content: "\ee47";
}
.i-pin-fill-sharp-circle:before {
  content: "\ee48";
}
.i-pin-fill-sharp-close:before {
  content: "\ee49";
}
.i-pin-fill-sharp-minus:before {
  content: "\ee4a";
}
.i-pin-fill-sharp-plus:before {
  content: "\ee4b";
}
.i-pin-rounded-circle:before {
  content: "\ee4c";
}
.i-pin-rounded-circle:before {
  content: "\ee4d";
}
.i-pin-rounded-close:before {
  content: "\ee4e";
}
.i-pin-rounded-minus:before {
  content: "\ee4f";
}
.i-pin-rounded-plus:before {
  content: "\ee50";
}
.i-pin-sharp-circle:before {
  content: "\ee51";
}
.i-pin-sharp-circle:before {
  content: "\ee52";
}
.i-pin-sharp-close:before {
  content: "\ee53";
}
.i-pin-sharp-minus:before {
  content: "\ee54";
}
.i-pin-sharp-plus:before {
  content: "\ee55";
}
.i-pinterest:before {
  content: "\ee56";
}
.i-planet:before {
  content: "\ee57";
}
.i-planet-system:before {
  content: "\ee58";
}
.i-play:before {
  content: "\ee59";
}
.i-play:before {
  content: "\ee5a";
}
.i-play:before {
  content: "\ee5b";
}
.i-play:before {
  content: "\ee5c";
}
.i-play:before {
  content: "\ee5d";
}
.i-play-plus-focus:before {
  content: "\ee5e";
}
.i-play-plus-focus:before {
  content: "\ee5f";
}
.i-playlist:before {
  content: "\ee60";
}
.i-plus:before {
  content: "\ee61";
}
.i-plus:before {
  content: "\ee62";
}
.i-plus:before {
  content: "\ee63";
}
.i-plus:before {
  content: "\ee64";
}
.i-plus-circle:before {
  content: "\ee65";
}
.i-plus-circle:before {
  content: "\ee66";
}
.i-plus-circle:before {
  content: "\ee67";
}
.i-plus-mini:before {
  content: "\ee68";
}
.i-pocket:before {
  content: "\ee69";
}
.i-previous:before {
  content: "\ee6a";
}
.i-previous:before {
  content: "\ee6b";
}
.i-printer:before {
  content: "\ee6c";
}
.i-printer:before {
  content: "\ee6d";
}
.i-printer:before {
  content: "\ee6e";
}
.i-printer:before {
  content: "\ee6f";
}
.i-product-hunt:before {
  content: "\ee70";
}
.i-profile:before {
  content: "\ee71";
}
.i-profile:before {
  content: "\ee72";
}
.i-profile:before {
  content: "\ee73";
}
.i-profile:before {
  content: "\ee74";
}
.i-profile-close:before {
  content: "\ee75";
}
.i-profile-close:before {
  content: "\ee76";
}
.i-profile-close:before {
  content: "\ee77";
}
.i-profile-close:before {
  content: "\ee78";
}
.i-profile-close-round:before {
  content: "\ee79";
}
.i-profile-close-round:before {
  content: "\ee7a";
}
.i-profile-favorite:before {
  content: "\ee7b";
}
.i-profile-favorite:before {
  content: "\ee7c";
}
.i-profile-image:before {
  content: "\ee7d";
}
.i-profile-image:before {
  content: "\ee7e";
}
.i-profile-image:before {
  content: "\ee7f";
}
.i-profile-image-close:before {
  content: "\ee80";
}
.i-profile-image-close-round:before {
  content: "\ee81";
}
.i-profile-image-favorite-round:before {
  content: "\ee82";
}
.i-profile-image-favorite-round:before {
  content: "\ee83";
}
.i-profile-image-minus:before {
  content: "\ee84";
}
.i-profile-image-minus-round:before {
  content: "\ee85";
}
.i-profile-image-plus:before {
  content: "\ee86";
}
.i-profile-image-plus-round:before {
  content: "\ee87";
}
.i-profile-image-round:before {
  content: "\ee88";
}
.i-profile-image-round:before {
  content: "\ee89";
}
.i-profile-image-zoom:before {
  content: "\ee8a";
}
.i-profile-minus:before {
  content: "\ee8b";
}
.i-profile-minus:before {
  content: "\ee8c";
}
.i-profile-minus:before {
  content: "\ee8d";
}
.i-profile-minus:before {
  content: "\ee8e";
}
.i-profile-minus-minus:before {
  content: "\ee8f";
}
.i-profile-plus:before {
  content: "\ee90";
}
.i-profile-plus:before {
  content: "\ee91";
}
.i-profile-plus:before {
  content: "\ee92";
}
.i-profile-plus:before {
  content: "\ee93";
}
.i-profile-plus-round:before {
  content: "\ee94";
}
.i-profile-plus-round:before {
  content: "\ee95";
}
.i-profile-round:before {
  content: "\ee96";
}
.i-profile-round:before {
  content: "\ee97";
}
.i-profile-round:before {
  content: "\ee98";
}
.i-projector:before {
  content: "\ee99";
}
.i-projector:before {
  content: "\ee9a";
}
.i-projector:before {
  content: "\ee9b";
}
.i-projector:before {
  content: "\ee9c";
}
.i-projector:before {
  content: "\ee9d";
}
.i-projector:before {
  content: "\ee9e";
}
.i-python:before {
  content: "\ee9f";
}
.i-question:before {
  content: "\eea0";
}
.i-question:before {
  content: "\eea1";
}
.i-quora:before {
  content: "\eea2";
}
.i-quotes:before {
  content: "\eea3";
}
.i-radio-signal:before {
  content: "\eea4";
}
.i-radio-tower:before {
  content: "\eea5";
}
.i-radio-tower:before {
  content: "\eea6";
}
.i-record:before {
  content: "\eea7";
}
.i-record:before {
  content: "\eea8";
}
.i-record:before {
  content: "\eea9";
}
.i-record-focus:before {
  content: "\eeaa";
}
.i-record-plus-focus:before {
  content: "\eeab";
}
.i-reddit:before {
  content: "\eeac";
}
.i-refrigerator:before {
  content: "\eead";
}
.i-refrigerator:before {
  content: "\eeae";
}
.i-refrigerator-round:before {
  content: "\eeaf";
}
.i-refrigerator-round:before {
  content: "\eeb0";
}
.i-remote:before {
  content: "\eeb1";
}
.i-remote:before {
  content: "\eeb2";
}
.i-report-flag:before {
  content: "\eeb3";
}
.i-report-flag:before {
  content: "\eeb4";
}
.i-report-flag:before {
  content: "\eeb5";
}
.i-report-flag:before {
  content: "\eeb6";
}
.i-report-flag:before {
  content: "\eeb7";
}
.i-report-flag:before {
  content: "\eeb8";
}
.i-resize:before {
  content: "\eeb9";
}
.i-resize:before {
  content: "\eeba";
}
.i-resize:before {
  content: "\eebb";
}
.i-resize-round:before {
  content: "\eebc";
}
.i-rings:before {
  content: "\eebd";
}
.i-rings:before {
  content: "\eebe";
}
.i-road:before {
  content: "\eebf";
}
.i-road:before {
  content: "\eec0";
}
.i-road-mini:before {
  content: "\eec1";
}
.i-road-mini:before {
  content: "\eec2";
}
.i-road-round:before {
  content: "\eec3";
}
.i-road-round:before {
  content: "\eec4";
}
.i-round:before {
  content: "\eec5";
}
.i-router-bottom:before {
  content: "\eec6";
}
.i-router-middle:before {
  content: "\eec7";
}
.i-router-top:before {
  content: "\eec8";
}
.i-rss:before {
  content: "\eec9";
}
.i-rss:before {
  content: "\eeca";
}
.i-rss:before {
  content: "\eecb";
}
.i-rss-cover:before {
  content: "\eecc";
}
.i-rss-cover:before {
  content: "\eecd";
}
.i-rss-focus:before {
  content: "\eece";
}
.i-rss-focus:before {
  content: "\eecf";
}
.i-rss-missing-plus:before {
  content: "\eed0";
}
.i-rss-missing-plus-round:before {
  content: "\eed1";
}
.i-rss-round:before {
  content: "\eed2";
}
.i-ruler:before {
  content: "\eed3";
}
.i-1-round:before {
  content: "\eed3";
}
.i-ruler1:before {
  content: "\eed4";
}
.i-2-round:before {
  content: "\eed4";
}
.i-ruler2:before {
  content: "\eed5";
}
.i-3:before {
  content: "\eed5";
}
.i-ruler3:before {
  content: "\eed6";
}
.i-4:before {
  content: "\eed6";
}
.i-satellite:before {
  content: "\eed7";
}
.i-save-item:before {
  content: "\eed8";
}
.i-save-item:before {
  content: "\eed9";
}
.i-save-item:before {
  content: "\eeda";
}
.i-save-item:before {
  content: "\eedb";
}
.i-screen:before {
  content: "\eedc";
}
.i-screw-wrench:before {
  content: "\eedd";
}
.i-script:before {
  content: "\eede";
}
.i-script:before {
  content: "\eedf";
}
.i-script:before {
  content: "\eee0";
}
.i-script:before {
  content: "\eee1";
}
.i-script:before {
  content: "\eee2";
}
.i-script:before {
  content: "\eee3";
}
.i-scroll-down:before {
  content: "\eee4";
}
.i-scroll-up:before {
  content: "\eee5";
}
.i-SD:before {
  content: "\eee6";
}
.i-SD:before {
  content: "\eee7";
}
.i-search-left:before {
  content: "\eee8";
}
.i-search-left:before {
  content: "\eee9";
}
.i-search-right:before {
  content: "\eeea";
}
.i-search-right:before {
  content: "\eeeb";
}
.i-seat:before {
  content: "\eeec";
}
.i-send:before {
  content: "\eeed";
}
.i-send-round:before {
  content: "\eeee";
}
.i-settings:before {
  content: "\eeef";
}
.i-settings:before {
  content: "\eef0";
}
.i-settings:before {
  content: "\eef1";
}
.i-settings:before {
  content: "\eef2";
}
.i-settings:before {
  content: "\eef3";
}
.i-shaded:before {
  content: "\eef4";
}
.i-shaded:before {
  content: "\eef5";
}
.i-shaded:before {
  content: "\eef6";
}
.i-Shape-1-copy-55:before {
  content: "\eef7";
}
.i-Shape-1-copy-56:before {
  content: "\eef8";
}
.i-share:before {
  content: "\eef9";
}
.i-share:before {
  content: "\eefa";
}
.i-share:before {
  content: "\eefb";
}
.i-share:before {
  content: "\eefc";
}
.i-shelf-double-down:before {
  content: "\eefd";
}
.i-shelf-down:before {
  content: "\eefe";
}
.i-shelf-left:before {
  content: "\eeff";
}
.i-shelf-right:before {
  content: "\ef00";
}
.i-shelf-top:before {
  content: "\ef01";
}
.i-ship:before {
  content: "\ef02";
}
.i-ship:before {
  content: "\ef03";
}
.i-ship-round:before {
  content: "\ef04";
}
.i-ship-round:before {
  content: "\ef05";
}
.i-shop-center:before {
  content: "\ef06";
}
.i-shop-center-round:before {
  content: "\ef07";
}
.i-shopping-bag:before {
  content: "\ef08";
}
.i-shopping-bag:before {
  content: "\ef09";
}
.i-shopping-bag:before {
  content: "\ef0a";
}
.i-shopping-bag:before {
  content: "\ef0b";
}
.i-shopping-bag:before {
  content: "\ef0c";
}
.i-shopping-bag:before {
  content: "\ef0d";
}
.i-shopping-bag:before {
  content: "\ef0e";
}
.i-shopping-bag-close:before {
  content: "\ef0f";
}
.i-shopping-bag-minus:before {
  content: "\ef10";
}
.i-shopping-bag-play:before {
  content: "\ef11";
}
.i-shopping-bag-plus:before {
  content: "\ef12";
}
.i-shopping-bag-plus:before {
  content: "\ef13";
}
.i-shopping-cart:before {
  content: "\ef14";
}
.i-shopping-cart:before {
  content: "\ef15";
}
.i-shopping-cart-close:before {
  content: "\ef16";
}
.i-shopping-cart-close-round:before {
  content: "\ef17";
}
.i-shopping-cart-love:before {
  content: "\ef18";
}
.i-shopping-cart-minus:before {
  content: "\ef19";
}
.i-shopping-cart-minus-round:before {
  content: "\ef1a";
}
.i-shopping-cart-plus:before {
  content: "\ef1b";
}
.i-shopping-cart-plus-round:before {
  content: "\ef1c";
}
.i-shopping-cart-round:before {
  content: "\ef1d";
}
.i-showcase:before {
  content: "\ef1e";
}
.i-showcase:before {
  content: "\ef1f";
}
.i-showcase-round:before {
  content: "\ef20";
}
.i-showcase-round:before {
  content: "\ef21";
}
.i-shower:before {
  content: "\ef22";
}
.i-shower:before {
  content: "\ef23";
}
.i-shuffle:before {
  content: "\ef24";
}
.i-shut-down:before {
  content: "\ef25";
}
.i-sign:before {
  content: "\ef26";
}
.i-sign:before {
  content: "\ef27";
}
.i-sign:before {
  content: "\ef28";
}
.i-sign-round:before {
  content: "\ef29";
}
.i-sign-round:before {
  content: "\ef2a";
}
.i-sign-round:before {
  content: "\ef2b";
}
.i-signal:before {
  content: "\ef2c";
}
.i-signal:before {
  content: "\ef2d";
}
.i-signal:before {
  content: "\ef2e";
}
.i-signal:before {
  content: "\ef2f";
}
.i-sim-card:before {
  content: "\ef30";
}
.i-sim-card:before {
  content: "\ef31";
}
.i-simple-car:before {
  content: "\ef32";
}
.i-simple-car-round:before {
  content: "\ef33";
}
.i-sketch:before {
  content: "\ef34";
}
.i-skype:before {
  content: "\ef35";
}
.i-slack:before {
  content: "\ef36";
}
.i-snapchat:before {
  content: "\ef37";
}
.i-soundcloud:before {
  content: "\ef38";
}
.i-spaceship:before {
  content: "\ef39";
}
.i-spaceship:before {
  content: "\ef3a";
}
.i-spaceship:before {
  content: "\ef3b";
}
.i-speaker:before {
  content: "\ef3c";
}
.i-speaker:before {
  content: "\ef3d";
}
.i-speaker:before {
  content: "\ef3e";
}
.i-speaker:before {
  content: "\ef3f";
}
.i-spiral:before {
  content: "\ef40";
}
.i-spiral:before {
  content: "\ef41";
}
.i-spiral:before {
  content: "\ef42";
}
.i-spiral:before {
  content: "\ef43";
}
.i-spiral:before {
  content: "\ef44";
}
.i-sport:before {
  content: "\ef45";
}
.i-spotify:before {
  content: "\ef46";
}
.i-squarespace:before {
  content: "\ef47";
}
.i-stairs:before {
  content: "\ef48";
}
.i-stairs:before {
  content: "\ef49";
}
.i-stairs:before {
  content: "\ef4a";
}
.i-stairs:before {
  content: "\ef4b";
}
.i-stairs:before {
  content: "\ef4c";
}
.i-star:before {
  content: "\ef4d";
}
.i-star:before {
  content: "\ef4e";
}
.i-star:before {
  content: "\ef4f";
}
.i-star:before {
  content: "\ef50";
}
.i-star-favorite:before {
  content: "\ef51";
}
.i-star-favorite:before {
  content: "\ef52";
}
.i-star-favorite-half:before {
  content: "\ef53";
}
.i-star-favorite-half:before {
  content: "\ef54";
}
.i-star-wars:before {
  content: "\ef55";
}
.i-stats:before {
  content: "\ef56";
}
.i-stats:before {
  content: "\ef57";
}
.i-stats:before {
  content: "\ef58";
}
.i-stats:before {
  content: "\ef59";
}
.i-stats:before {
  content: "\ef5a";
}
.i-stats:before {
  content: "\ef5b";
}
.i-stats:before {
  content: "\ef5c";
}
.i-stats:before {
  content: "\ef5d";
}
.i-stats:before {
  content: "\ef5e";
}
.i-stats:before {
  content: "\ef5f";
}
.i-steering-wheel:before {
  content: "\ef60";
}
.i-stop:before {
  content: "\ef61";
}
.i-stop:before {
  content: "\ef62";
}
.i-stop:before {
  content: "\ef63";
}
.i-stop-focus:before {
  content: "\ef64";
}
.i-street-light:before {
  content: "\ef65";
}
.i-street-light:before {
  content: "\ef66";
}
.i-sum:before {
  content: "\ef67";
}
.i-sun-star:before {
  content: "\ef68";
}
.i-sun-star:before {
  content: "\ef69";
}
.i-sun-star:before {
  content: "\ef6a";
}
.i-sunset:before {
  content: "\ef6b";
}
.i-sunset:before {
  content: "\ef6c";
}
.i-sunset:before {
  content: "\ef6d";
}
.i-swift:before {
  content: "\ef6e";
}
.i-swipe-left:before {
  content: "\ef6f";
}
.i-swipe-right:before {
  content: "\ef70";
}
.i-sword:before {
  content: "\ef71";
}
.i-swords:before {
  content: "\ef72";
}
.i-syringe:before {
  content: "\ef73";
}
.i-syringe:before {
  content: "\ef74";
}
.i-tag:before {
  content: "\ef75";
}
.i-tag:before {
  content: "\ef76";
}
.i-tag-fill:before {
  content: "\ef77";
}
.i-tag-fill-round:before {
  content: "\ef78";
}
.i-tag-round:before {
  content: "\ef79";
}
.i-tag-round:before {
  content: "\ef7a";
}
.i-tap:before {
  content: "\ef7b";
}
.i-tap-click-force-touch:before {
  content: "\ef7c";
}
.i-tape:before {
  content: "\ef7d";
}
.i-tape:before {
  content: "\ef7e";
}
.i-target:before {
  content: "\ef7f";
}
.i-target:before {
  content: "\ef80";
}
.i-target:before {
  content: "\ef81";
}
.i-target:before {
  content: "\ef82";
}
.i-tenis:before {
  content: "\ef83";
}
.i-tenis:before {
  content: "\ef84";
}
.i-tenis-round:before {
  content: "\ef85";
}
.i-tetrix:before {
  content: "\ef86";
}
.i-tetrix:before {
  content: "\ef87";
}
.i-tetrix:before {
  content: "\ef88";
}
.i-tetrix:before {
  content: "\ef89";
}
.i-text-distribution:before {
  content: "\ef8a";
}
.i-text-style:before {
  content: "\ef8b";
}
.i-text-style:before {
  content: "\ef8c";
}
.i-text-style-cut:before {
  content: "\ef8d";
}
.i-thermometer:before {
  content: "\ef8e";
}
.i-thermometer:before {
  content: "\ef8f";
}
.i-thermometer:before {
  content: "\ef90";
}
.i-thermometer:before {
  content: "\ef91";
}
.i-thermometer-c:before {
  content: "\ef92";
}
.i-thermometer-c:before {
  content: "\ef93";
}
.i-thermometer-close:before {
  content: "\ef94";
}
.i-thermometer-close:before {
  content: "\ef95";
}
.i-thermometer-down:before {
  content: "\ef96";
}
.i-thermometer-down:before {
  content: "\ef97";
}
.i-thermometer-f:before {
  content: "\ef98";
}
.i-thermometer-f:before {
  content: "\ef99";
}
.i-thermometer-minus:before {
  content: "\ef9a";
}
.i-thermometer-minus:before {
  content: "\ef9b";
}
.i-thermometer-plus:before {
  content: "\ef9c";
}
.i-thermometer-plus:before {
  content: "\ef9d";
}
.i-thermometer-sun:before {
  content: "\ef9e";
}
.i-thermometer-sun:before {
  content: "\ef9f";
}
.i-thermometer-up:before {
  content: "\efa0";
}
.i-thermometer-up:before {
  content: "\efa1";
}
.i-tie:before {
  content: "\efa2";
}
.i-tie:before {
  content: "\efa3";
}
.i-tie-round:before {
  content: "\efa4";
}
.i-tie-round:before {
  content: "\efa5";
}
.i-tinder:before {
  content: "\efa6";
}
.i-toggle-button:before {
  content: "\efa7";
}
.i-toggle-button:before {
  content: "\efa8";
}
.i-toggle-button-round:before {
  content: "\efa9";
}
.i-toggle-button-round:before {
  content: "\efaa";
}
.i-touch-id:before {
  content: "\efab";
}
.i-tower:before {
  content: "\efac";
}
.i-train:before {
  content: "\efad";
}
.i-trillo:before {
  content: "\efae";
}
.i-truck:before {
  content: "\efaf";
}
.i-truck-round:before {
  content: "\efb0";
}
.i-tumblr:before {
  content: "\efb1";
}
.i-twitch:before {
  content: "\efb2";
}
.i-twitter:before {
  content: "\efb3";
}
.i-umbrella:before {
  content: "\efb4";
}
.i-umbrella:before {
  content: "\efb5";
}
.i-umbrella-round:before {
  content: "\efb6";
}
.i-umbrella-round:before {
  content: "\efb7";
}
.i-underline:before {
  content: "\efb8";
}
.i-underline:before {
  content: "\efb9";
}
.i-url:before {
  content: "\efba";
}
.i-url:before {
  content: "\efbb";
}
.i-usb:before {
  content: "\efbc";
}
.i-usb:before {
  content: "\efbd";
}
.i-usb:before {
  content: "\efbe";
}
.i-usb:before {
  content: "\efbf";
}
.i-usb:before {
  content: "\efc0";
}
.i-video-camera:before {
  content: "\efc1";
}
.i-video-camera-round:before {
  content: "\efc2";
}
.i-video-round:before {
  content: "\efc3";
}
.i-view:before {
  content: "\efc4";
}
.i-view-close:before {
  content: "\efc5";
}
.i-view-minus:before {
  content: "\efc6";
}
.i-view-pus:before {
  content: "\efc7";
}
.i-view-simple:before {
  content: "\efc8";
}
.i-vimeo:before {
  content: "\efc9";
}
.i-vine:before {
  content: "\efca";
}
.i-visual-studio:before {
  content: "\efcb";
}
.i-volume-close:before {
  content: "\efcc";
}
.i-volume-close:before {
  content: "\efcd";
}
.i-volume-high:before {
  content: "\efce";
}
.i-volume-high:before {
  content: "\efcf";
}
.i-volume-low:before {
  content: "\efd0";
}
.i-volume-low:before {
  content: "\efd1";
}
.i-volume-medium:before {
  content: "\efd2";
}
.i-volume-medium:before {
  content: "\efd3";
}
.i-wallet:before {
  content: "\efd4";
}
.i-wand:before {
  content: "\efd5";
}
.i-wand-round:before {
  content: "\efd6";
}
.i-watch:before {
  content: "\efd7";
}
.i-watch:before {
  content: "\efd8";
}
.i-watch:before {
  content: "\efd9";
}
.i-watch:before {
  content: "\efda";
}
.i-watch:before {
  content: "\efdb";
}
.i-watch:before {
  content: "\efdc";
}
.i-watch:before {
  content: "\efdd";
}
.i-watch:before {
  content: "\efde";
}
.i-watch:before {
  content: "\efdf";
}
.i-watch:before {
  content: "\efe0";
}
.i-watch:before {
  content: "\efe1";
}
.i-watch-round:before {
  content: "\efe2";
}
.i-weighted-storage-cube:before {
  content: "\efe3";
}
.i-weighted-storage-cube:before {
  content: "\efe4";
}
.i-weighted-storage-cube:before {
  content: "\efe5";
}
.i-whatsapp:before {
  content: "\efe6";
}
.i-wheel:before {
  content: "\efe7";
}
.i-wheel:before {
  content: "\efe8";
}
.i-wheelchair:before {
  content: "\efe9";
}
.i-wheelchair:before {
  content: "\efea";
}
.i-wifi:before {
  content: "\efeb";
}
.i-wifi:before {
  content: "\efec";
}
.i-wifi:before {
  content: "\efed";
}
.i-wifi:before {
  content: "\efee";
}
.i-wifi:before {
  content: "\efef";
}
.i-wifi:before {
  content: "\eff0";
}
.i-wifi:before {
  content: "\eff1";
}
.i-wifi:before {
  content: "\eff2";
}
.i-wifi-cover:before {
  content: "\eff3";
}
.i-wifi-cover:before {
  content: "\eff4";
}
.i-wifi-focus:before {
  content: "\eff5";
}
.i-wifi-focus:before {
  content: "\eff6";
}
.i-wifi-missing-plus-round:before {
  content: "\eff7";
}
.i-wifi-round:before {
  content: "\eff8";
}
.i-window-equal:before {
  content: "\eff9";
}
.i-window-minus:before {
  content: "\effa";
}
.i-window-minus:before {
  content: "\effb";
}
.i-window-plus:before {
  content: "\effc";
}
.i-window-plus:before {
  content: "\effd";
}
.i-windows:before {
  content: "\effe";
}
.i-winter-is-coming:before {
  content: "\efff";
}
.i-wordpress:before {
  content: "\f000";
}
.i-yelp:before {
  content: "\f001";
}
.i-yen:before {
  content: "\f002";
}
.i-youtube:before {
  content: "\f003";
}
.i-zoom-in:before {
  content: "\f004";
}
.i-zoom-in:before {
  content: "\f005";
}
.i-zoom-out:before {
  content: "\f006";
}
.i-zoom-out:before {
  content: "\f007";
}
