/*

 LINE HEIGHT / LEADING
 Docs: http://tachyons.io/docs/typography/line-height

 Media Query Extensions:
 -ns = not-small
 -m = medium
 -l = large

*/

.lh-solid,
.lh-1 {
  line-height: 1;
}
.lh-title,
.lh-125 {
  line-height: 1.25;
}
.lh-copy,
.lh-15 {
  line-height: 1.5;
}

@media (--breakpoint-not-small) {
  .lh-solid-ns,
  .lh-1-ns {
    line-height: 1;
  }
  .lh-title-ns,
  .lh-125-ns {
    line-height: 1.25;
  }
  .lh-copy-ns,
  .lh-15-ns {
    line-height: 1.5;
  }
}

@media (--breakpoint-medium) {
  .lh-solid-m,
  .lh-1-m {
    line-height: 1;
  }
  .lh-title-m,
  .lh-125-m {
    line-height: 1.25;
  }
  .lh-copy-m,
  .lh-15-m {
    line-height: 1.5;
  }
}

@media (--breakpoint-large) {
  .lh-solid-l,
  .lh-1-l {
    line-height: 1;
  }
  .lh-title-l,
  .lh-125-l {
    line-height: 1.25;
  }
  .lh-copy-l,
  .lh-15-l {
    line-height: 1.5;
  }
}
