:root {
  --shadow-opacity-soft: 0.035;
  --shadow-opacity-normal: 0.085;
  --shadow-opacity-dark: 0.1;
  --shadow-size-short: 20px;
  --shadow-size-wide: 30px;
  --shadow-color-black: rgba(0, 0, 0, 0.085);
  --shadow-color-blue: rgba(0, 77, 172, 0.085);
}

.btn-shadow:focus {
  box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
}

.shadow-light,
.shadow-0 {
  -webkit-box-shadow: 0 0 var(--shadow-size-short) 0px rgba(0, 77, 172, var(--shadow-opacity-soft));
  box-shadow: 0 0 var(--shadow-size-short) 0px rgba(0, 77, 172, var(--shadow-opacity-soft));
}

.shadow-smooth,
.shadow-1 {
  -webkit-box-shadow: 0 0 var(--shadow-size-short) 0px rgba(0, 77, 172, var(--shadow-opacity-normal));
  box-shadow: 0 0 var(--shadow-size-short) 0px rgba(0, 77, 172, var(--shadow-opacity-normal));
}

.shadow-heavy,
.shadow-2 {
  -webkit-box-shadow: 0 0 var(--shadow-size-short) 0px rgba(0, 77, 172, var(--shadow-opacity-dark));
  box-shadow: 0 0 var(--shadow-size-short) 0px rgba(0, 77, 172, var(--shadow-opacity-dark));
}
