/* 
  
   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.
 
 */

.hover-black:hover,
.hover-black:focus {
  color: var(--black);
}
.hover-near-black:hover,
.hover-near-black:focus {
  color: var(--near-black);
}
.hover-dark-gray:hover,
.hover-dark-gray:focus {
  color: var(--dark-gray);
}
.hover-mid-gray:hover,
.hover-mid-gray:focus {
  color: var(--mid-gray);
}
.hover-gray:hover,
.hover-gray:focus {
  color: var(--gray);
}
.hover-silver:hover,
.hover-silver:focus {
  color: var(--silver);
}
.hover-light-silver:hover,
.hover-light-silver:focus {
  color: var(--light-silver);
}
.hover-moon-gray:hover,
.hover-moon-gray:focus {
  color: var(--moon-gray);
}
.hover-light-gray:hover,
.hover-light-gray:focus {
  color: var(--light-gray);
}
.hover-near-white:hover,
.hover-near-white:focus {
  color: var(--near-white);
}
.hover-white:hover,
.hover-white:focus {
  color: var(--white);
}

.hover-black-90:hover,
.hover-black-90:focus {
  color: var(--black-90);
}
.hover-black-80:hover,
.hover-black-80:focus {
  color: var(--black-80);
}
.hover-black-70:hover,
.hover-black-70:focus {
  color: var(--black-70);
}
.hover-black-60:hover,
.hover-black-60:focus {
  color: var(--black-60);
}
.hover-black-50:hover,
.hover-black-50:focus {
  color: var(--black-50);
}
.hover-black-40:hover,
.hover-black-40:focus {
  color: var(--black-40);
}
.hover-black-30:hover,
.hover-black-30:focus {
  color: var(--black-30);
}
.hover-black-20:hover,
.hover-black-20:focus {
  color: var(--black-20);
}
.hover-black-10:hover,
.hover-black-10:focus {
  color: var(--black-10);
}
.hover-white-90:hover,
.hover-white-90:focus {
  color: var(--white-90);
}
.hover-white-80:hover,
.hover-white-80:focus {
  color: var(--white-80);
}
.hover-white-70:hover,
.hover-white-70:focus {
  color: var(--white-70);
}
.hover-white-60:hover,
.hover-white-60:focus {
  color: var(--white-60);
}
.hover-white-50:hover,
.hover-white-50:focus {
  color: var(--white-50);
}
.hover-white-40:hover,
.hover-white-40:focus {
  color: var(--white-40);
}
.hover-white-30:hover,
.hover-white-30:focus {
  color: var(--white-30);
}
.hover-white-20:hover,
.hover-white-20:focus {
  color: var(--white-20);
}
.hover-white-10:hover,
.hover-white-10:focus {
  color: var(--white-10);
}
.hover-inherit:hover,
.hover-inherit:focus {
  color: inherit;
}

/* Social */

.hover-facebook:hover,
.hover-facebook:focus {
  color: var(--facebook);
}
.hover-messenger:hover,
.hover-messenger:focus {
  color: var(--messenger);
}
.hover-twitter:hover,
.hover-twitter:focus {
  color: var(--twitter);
}
.hover-linkedin:hover,
.hover-linkedin:focus {
  color: var(--linkedin);
}
.hover-skype:hover,
.hover-skype:focus {
  color: var(--skype);
}
.hover-dropbox:hover,
.hover-dropbox:focus {
  color: var(--dropbox);
}
.hover-wordpress:hover,
.hover-wordpress:focus {
  color: var(--wordpress);
}
.hover-vimeo:hover,
.hover-vimeo:focus {
  color: var(--vimeo);
}
.hover-slideshare:hover,
.hover-slideshare:focus {
  color: var(--slideshare);
}
.hover-vk:hover,
.hover-vk:focus {
  color: var(--vk);
}
.hover-tumblr:hover,
.hover-tumblr:focus {
  color: var(--tumblr);
}
.hover-googleplus:hover,
.hover-googleplus:focus {
  color: var(--googleplus);
}
.hover-pinterest:hover,
.hover-pinterest:focus {
  color: var(--pinterest);
}
.hover-youtube:hover,
.hover-youtube:focus {
  color: var(--youtube);
}
.hover-stumbleupon:hover,
.hover-stumbleupon:focus {
  color: var(--stumbleupon);
}
.hover-reddit:hover,
.hover-reddit:focus {
  color: var(--reddit);
}
.hover-quora:hover,
.hover-quora:focus {
  color: var(--quora);
}
.hover-yelp:hover,
.hover-yelp:focus {
  color: var(--yelp);
}
.hover-weibo:hover,
.hover-weibo:focus {
  color: var(--weibo);
}
.hover-producthunt:hover,
.hover-producthunt:focus {
  color: var(--producthunt);
}
.hover-hackernews:hover,
.hover-hackernews:focus {
  color: var(--hackernews);
}
.hover-soundcloud:hover,
.hover-soundcloud:focus {
  color: var(--soundcloud);
}
.hover-blogger:hover,
.hover-blogger:focus {
  color: var(--blogger);
}
.hover-whatsapp:hover,
.hover-whatsapp:focus {
  color: var(--whatsapp);
}
.hover-wechat:hover,
.hover-wechat:focus {
  color: var(--wechat);
}
.hover-line:hover,
.hover-line:focus {
  color: var(--line);
}
.hover-medium:hover,
.hover-medium:focus {
  color: var(--medium);
}
.hover-vine:hover,
.hover-vine:focus {
  color: var(--vine);
}
.hover-slack:hover,
.hover-slack:focus {
  color: var(--slack);
}
.hover-instagram:hover,
.hover-instagram:focus {
  color: var(--instagram);
}
.hover-dribbble:hover,
.hover-dribbble:focus {
  color: var(--dribbble);
}
.hover-flickr:hover,
.hover-flickr:focus {
  color: var(--flickr);
}
.hover-foursquare:hover,
.hover-foursquare:focus {
  color: var(--foursquare);
}
.hover-behance:hover,
.hover-behance:focus {
  color: var(--behance);
}
.hover-snapchat:hover,
.hover-snapchat:focus {
  color: var(--snapchat);
}

.hover-bg-primary:hover,
.hover-bg-primary:focus {
  background-color: var(--primary);
}
.hover-bg-light-primary:hover,
-light-primary:focus {
  background-color: var(--light-primary);
}
.hover-bg-dark-primary:hover,
-dark-primary:focus {
  background-color: var(--dark-primary);
}

.hover-bg-info:hover,
.hover-bg-info:focus {
  background-color: var(--info);
}
.hover-bg-light-info:hover,
.hover-bg-light-info:focus {
  background-color: var(--light-info);
}
.hover-bg-dark-info:hover,
.hover-bg-dark-info:focus {
  background-color: var(--dark-info);
}
.hover-bg-success:hover,
.hover-bg-success:focus {
  background-color: var(--success);
}
.hover-bg-light-success:hover,
.hover-bg-light-success:focus {
  background-color: var(--light-success);
}
.hover-bg-dark-success:hover,
.hover-bg-dark-success:focus {
  background-color: var(--dark-success);
}
.hover-bg-warning:hover,
.hover-bg-warning:focus {
  background-color: var(--warning);
}
.hover-bg-light-warning:hover,
.hover-bg-light-warning:focus {
  background-color: var(--light-warning);
}
.hover-bg-dark-warning:hover,
.hover-bg-dark-warning:focus {
  background-color: var(--dark-warning);
}
.hover-bg-error:hover,
.hover-bg-error:focus {
  background-color: var(--error);
}
.hover-bg-light-error:hover,
.hover-bg-light-error:focus {
  background-color: var(--light-error);
}
.hover-bg-dark-error:hover,
.hover-bg-dark-error:focus {
  background-color: var(--dark-error);
}

.hover-bg-title:hover,
.hover-bg-title:focus {
  background-color: var(--title);
}
.hover-bg-content:hover,
.hover-bg-content:focus {
  background-color: var(--content);
}
.hover-bg-sub:hover,
.hover-bg-sub:focus {
  background-color: var(--sub-title);
}
.hover-bg-divider:hover,
.hover-bg-divider:focus {
  background-color: var(--divider);
}
.hover-bg-background:hover,
.hover-bg-background:focus {
  background-color: var(--background);
}
.hover-bg-black:hover,
.hover-bg-black:focus {
  background-color: var(--black);
}
.hover-bg-near-black:hover,
.hover-bg-near-black:focus {
  background-color: var(--near-black);
}
.hover-bg-dark-gray:hover,
.hover-bg-dark-gray:focus {
  background-color: var(--dark-gray);
}
.hover-bg-mid-gray:hover,
.hover-bg-mid-gray:focus {
  background-color: var(--mid-gray);
}
.hover-bg-gray:hover,
.hover-bg-gray:focus {
  background-color: var(--gray);
}
.hover-bg-silver:hover,
.hover-bg-silver:focus {
  background-color: var(--silver);
}
.hover-bg-light-silver:hover,
.hover-bg-light-silver:focus {
  background-color: var(--light-silver);
}
.hover-bg-moon-gray:hover,
.hover-bg-moon-gray:focus {
  background-color: var(--moon-gray);
}
.hover-bg-light-gray:hover,
.hover-bg-light-gray:focus {
  background-color: var(--light-gray);
}
.hover-bg-near-white:hover,
.hover-bg-near-white:focus {
  background-color: var(--near-white);
}
.hover-bg-white:hover,
.hover-bg-white:focus {
  background-color: var(--white);
}
.hover-bg-transparent:hover,
.hover-bg-transparent:focus {
  background-color: var(--transparent);
}

.hover-bg-black-90:hover,
.hover-bg-black-90:focus {
  background-color: var(--black-90);
}
.hover-bg-black-80:hover,
.hover-bg-black-80:focus {
  background-color: var(--black-80);
}
.hover-bg-black-70:hover,
.hover-bg-black-70:focus {
  background-color: var(--black-70);
}
.hover-bg-black-60:hover,
.hover-bg-black-60:focus {
  background-color: var(--black-60);
}
.hover-bg-black-50:hover,
.hover-bg-black-50:focus {
  background-color: var(--black-50);
}
.hover-bg-black-40:hover,
.hover-bg-black-40:focus {
  background-color: var(--black-40);
}
.hover-bg-black-30:hover,
.hover-bg-black-30:focus {
  background-color: var(--black-30);
}
.hover-bg-black-20:hover,
.hover-bg-black-20:focus {
  background-color: var(--black-20);
}
.hover-bg-black-10:hover,
.hover-bg-black-10:focus {
  background-color: var(--black-10);
}
.hover-bg-white-90:hover,
.hover-bg-white-90:focus {
  background-color: var(--white-90);
}
.hover-bg-white-80:hover,
.hover-bg-white-80:focus {
  background-color: var(--white-80);
}
.hover-bg-white-70:hover,
.hover-bg-white-70:focus {
  background-color: var(--white-70);
}
.hover-bg-white-60:hover,
.hover-bg-white-60:focus {
  background-color: var(--white-60);
}
.hover-bg-white-50:hover,
.hover-bg-white-50:focus {
  background-color: var(--white-50);
}
.hover-bg-white-40:hover,
.hover-bg-white-40:focus {
  background-color: var(--white-40);
}
.hover-bg-white-30:hover,
.hover-bg-white-30:focus {
  background-color: var(--white-30);
}
.hover-bg-white-20:hover,
.hover-bg-white-20:focus {
  background-color: var(--white-20);
}
.hover-bg-white-10:hover,
.hover-bg-white-10:focus {
  background-color: var(--white-10);
}

.hover-primary:hover,
.hover-primary:focus {
  color: var(--primary);
}
.hover-light-primary:hover,
-light-primary:focus {
  color: var(--light-primary);
}
.hover-dark-primary:hover,
-dark-primary:focus {
  color: var(--dark-primary);
}

.hover-info:hover,
.hover-info:focus {
  color: var(--info);
}
.hover-light-info:hover,
.hover-light-info:focus {
  color: var(--light-info);
}
.hover-dark-info:hover,
.hover-dark-info:focus {
  color: var(--dark-info);
}
.hover-success:hover,
.hover-success:focus {
  color: var(--success);
}
.hover-light-success:hover,
.hover-light-success:focus {
  color: var(--light-success);
}
.hover-dark-success:hover,
.hover-dark-success:focus {
  color: var(--dark-success);
}
.hover-warning:hover,
.hover-warning:focus {
  color: var(--warning);
}
.hover-light-warning:hover,
.hover-light-warning:focus {
  color: var(--light-warning);
}
.hover-dark-warning:hover,
.hover-dark-warning:focus {
  color: var(--dark-warning);
}
.hover-error:hover,
.hover-error:focus {
  color: var(--error);
}
.hover-light-error:hover,
.hover-light-error:focus {
  color: var(--light-error);
}
.hover-dark-error:hover,
.hover-dark-error:focus {
  color: var(--dark-error);
}

.hover-title:hover,
.hover-title:focus {
  color: var(--title);
}
.hover-content:hover,
.hover-content:focus {
  color: var(--content);
}
.hover-sub:hover,
.hover-sub:focus {
  color: var(--sub-title);
}
.hover-divider:hover,
.hover-divider:focus {
  color: var(--divider);
}
.hover-background:hover,
.hover-background:focus {
  color: var(--background);
}
.hover-dark-red:hover,
.hover-dark-red:focus {
  color: var(--dark-red);
}
.hover-red:hover,
.hover-red:focus {
  color: var(--red);
}
.hover-light-red:hover,
.hover-light-red:focus {
  color: var(--light-red);
}
.hover-orange:hover,
.hover-orange:focus {
  color: var(--orange);
}
.hover-gold:hover,
.hover-gold:focus {
  color: var(--gold);
}
.hover-yellow:hover,
.hover-yellow:focus {
  color: var(--yellow);
}
.hover-light-yellow:hover,
.hover-light-yellow:focus {
  color: var(--light-yellow);
}
.hover-purple:hover,
.hover-purple:focus {
  color: var(--purple);
}
.hover-light-purple:hover,
.hover-light-purple:focus {
  color: var(--light-purple);
}
.hover-dark-pink:hover,
.hover-dark-pink:focus {
  color: var(--dark-pink);
}
.hover-hot-pink:hover,
.hover-hot-pink:focus {
  color: var(--hot-pink);
}
.hover-pink:hover,
.hover-pink:focus {
  color: var(--pink);
}
.hover-light-pink:hover,
.hover-light-pink:focus {
  color: var(--light-pink);
}
.hover-dark-green:hover,
.hover-dark-green:focus {
  color: var(--dark-green);
}
.hover-green:hover,
.hover-green:focus {
  color: var(--green);
}
.hover-light-green:hover,
.hover-light-green:focus {
  color: var(--light-green);
}
.hover-navy:hover,
.hover-navy:focus {
  color: var(--navy);
}
.hover-dark-blue:hover,
.hover-dark-blue:focus {
  color: var(--dark-blue);
}
.hover-blue:hover,
.hover-blue:focus {
  color: var(--blue);
}
.hover-light-blue:hover,
.hover-light-blue:focus {
  color: var(--light-blue);
}
.hover-lightest-blue:hover,
.hover-lightest-blue:focus {
  color: var(--lightest-blue);
}
.hover-washed-blue:hover,
.hover-washed-blue:focus {
  color: var(--washed-blue);
}
.hover-washed-green:hover,
.hover-washed-green:focus {
  color: var(--washed-green);
}
.hover-washed-yellow:hover,
.hover-washed-yellow:focus {
  color: var(--washed-yellow);
}
.hover-washed-red:hover,
.hover-washed-red:focus {
  color: var(--washed-red);
}

.hover-bg-dark-red:hover,
.hover-bg-dark-red:focus {
  background-color: var(--dark-red);
}
.hover-bg-red:hover,
.hover-bg-red:focus {
  background-color: var(--red);
}
.hover-bg-light-red:hover,
.hover-bg-light-red:focus {
  background-color: var(--light-red);
}
.hover-bg-orange:hover,
.hover-bg-orange:focus {
  background-color: var(--orange);
}
.hover-bg-gold:hover,
.hover-bg-gold:focus {
  background-color: var(--gold);
}
.hover-bg-yellow:hover,
.hover-bg-yellow:focus {
  background-color: var(--yellow);
}
.hover-bg-light-yellow:hover,
.hover-bg-light-yellow:focus {
  background-color: var(--light-yellow);
}
.hover-bg-purple:hover,
.hover-bg-purple:focus {
  background-color: var(--purple);
}
.hover-bg-light-purple:hover,
.hover-bg-light-purple:focus {
  background-color: var(--light-purple);
}
.hover-bg-dark-pink:hover,
.hover-bg-dark-pink:focus {
  background-color: var(--dark-pink);
}
.hover-bg-hot-pink:hover,
.hover-bg-hot-pink:focus {
  background-color: var(--hot-pink);
}
.hover-bg-pink:hover,
.hover-bg-pink:focus {
  background-color: var(--pink);
}
.hover-bg-light-pink:hover,
.hover-bg-light-pink:focus {
  background-color: var(--light-pink);
}
.hover-bg-dark-green:hover,
.hover-bg-dark-green:focus {
  background-color: var(--dark-green);
}
.hover-bg-green:hover,
.hover-bg-green:focus {
  background-color: var(--green);
}
.hover-bg-light-green:hover,
.hover-bg-light-green:focus {
  background-color: var(--light-green);
}
.hover-bg-navy:hover,
.hover-bg-navy:focus {
  background-color: var(--navy);
}
.hover-bg-dark-blue:hover,
.hover-bg-dark-blue:focus {
  background-color: var(--dark-blue);
}
.hover-bg-blue:hover,
.hover-bg-blue:focus {
  background-color: var(--blue);
}
.hover-bg-light-blue:hover,
.hover-bg-light-blue:focus {
  background-color: var(--light-blue);
}
.hover-bg-lightest-blue:hover,
.hover-bg-lightest-blue:focus {
  background-color: var(--lightest-blue);
}
.hover-bg-washed-blue:hover,
.hover-bg-washed-blue:focus {
  background-color: var(--washed-blue);
}
.hover-bg-washed-green:hover,
.hover-bg-washed-green:focus {
  background-color: var(--washed-green);
}
.hover-bg-washed-yellow:hover,
.hover-bg-washed-yellow:focus {
  background-color: var(--washed-yellow);
}
.hover-bg-washed-red:hover,
.hover-bg-washed-red:focus {
  background-color: var(--washed-red);
}
.hover-bg-inherit:hover,
.hover-bg-inherit:focus {
  background-color: inherit;
}

/* Socials */

.hover-bg-facebook:hover,
.hover-bg-facebook:focus {
  background-color: var(--facebook);
}
.hover-bg-messenger:hover,
.hover-bg-messenger:focus {
  background-color: var(--messenger);
}
.hover-bg-twitter:hover,
.hover-bg-twitter:focus {
  background-color: var(--twitter);
}
.hover-bg-linkedin:hover,
.hover-bg-linkedin:focus {
  background-color: var(--linkedin);
}
.hover-bg-skype:hover,
.hover-bg-skype:focus {
  background-color: var(--skype);
}
.hover-bg-dropbox:hover,
.hover-bg-dropbox:focus {
  background-color: var(--dropbox);
}
.hover-bg-wordpress:hover,
.hover-bg-wordpress:focus {
  background-color: var(--wordpress);
}
.hover-bg-vimeo:hover,
.hover-bg-vimeo:focus {
  background-color: var(--vimeo);
}
.hover-bg-slideshare:hover,
.hover-bg-slideshare:focus {
  background-color: var(--slideshare);
}
.hover-bg-vk:hover,
.hover-bg-vk:focus {
  background-color: var(--vk);
}
.hover-bg-tumblr:hover,
.hover-bg-tumblr:focus {
  background-color: var(--tumblr);
}
.hover-bg-googleplus:hover,
.hover-bg-googleplus:focus {
  background-color: var(--googleplus);
}
.hover-bg-pinterest:hover,
.hover-bg-pinterest:focus {
  background-color: var(--pinterest);
}
.hover-bg-youtube:hover,
.hover-bg-youtube:focus {
  background-color: var(--youtube);
}
.hover-bg-stumbleupon:hover,
.hover-bg-stumbleupon:focus {
  background-color: var(--stumbleupon);
}
.hover-bg-reddit:hover,
.hover-bg-reddit:focus {
  background-color: var(--reddit);
}
.hover-bg-quora:hover,
.hover-bg-quora:focus {
  background-color: var(--quora);
}
.hover-bg-yelp:hover,
.hover-bg-yelp:focus {
  background-color: var(--yelp);
}
.hover-bg-weibo:hover,
.hover-bg-weibo:focus {
  background-color: var(--weibo);
}
.hover-bg-producthunt:hover,
.hover-bg-producthunt:focus {
  background-color: var(--producthunt);
}
.hover-bg-hackernews:hover,
.hover-bg-hackernews:focus {
  background-color: var(--hackernews);
}
.hover-bg-soundcloud:hover,
.hover-bg-soundcloud:focus {
  background-color: var(--soundcloud);
}
.hover-bg-blogger:hover,
.hover-bg-blogger:focus {
  background-color: var(--blogger);
}
.hover-bg-whatsapp:hover,
.hover-bg-whatsapp:focus {
  background-color: var(--whatsapp);
}
.hover-bg-wechat:hover,
.hover-bg-wechat:focus {
  background-color: var(--wechat);
}
.hover-bg-line:hover,
.hover-bg-line:focus {
  background-color: var(--line);
}
.hover-bg-medium:hover,
.hover-bg-medium:focus {
  background-color: var(--medium);
}
.hover-bg-vine:hover,
.hover-bg-vine:focus {
  background-color: var(--vine);
}
.hover-bg-slack:hover,
.hover-bg-slack:focus {
  background-color: var(--slack);
}
.hover-bg-instagram:hover,
.hover-bg-instagram:focus {
  background-color: var(--instagram);
}
.hover-bg-dribbble:hover,
.hover-bg-dribbble:focus {
  background-color: var(--dribbble);
}
.hover-bg-flickr:hover,
.hover-bg-flickr:focus {
  background-color: var(--flickr);
}
.hover-bg-foursquare:hover,
.hover-bg-foursquare:focus {
  background-color: var(--foursquare);
}
.hover-bg-behance:hover,
.hover-bg-behance:focus {
  background-color: var(--behance);
}
.hover-bg-snapchat:hover,
.hover-bg-snapchat:focus {
  background-color: var(--snapchat);
}
