/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will 
   be set to the current text color. 

*/

/* Text colors */

.primary {
  color: var(--primary);
}
.light-primary {
  color: var(--light-primary);
}
.dark-primary {
  color: var(--dark-primary);
}
.info {
  color: var(--info);
}
.light-info {
  color: var(--light-info);
}
.dark-info {
  color: var(--dark-info);
}
.success {
  color: var(--success);
}
.light-success {
  color: var(--light-success);
}
.dark-success {
  color: var(--dark-success);
}
.warning {
  color: var(--warning);
}
.light-warning {
  color: var(--light-warning);
}
.dark-warning {
  color: var(--dark-warning);
}
.error {
  color: var(--error);
}
.light-error {
  color: var(--light-error);
}
.dark-error {
  color: var(--dark-error);
}

/* socials */
.facebook {
  color: var(--facebook);
}
.messenger {
  color: var(--messenger);
}
.twitter {
  color: var(--twitter);
}
.linkedin {
  color: var(--linkedin);
}
.skype {
  color: var(--skype);
}
.dropbox {
  color: var(--dropbox);
}
.wordpress {
  color: var(--wordpress);
}
.vimeo {
  color: var(--vimeo);
}
.slideshare {
  color: var(--slideshare);
}
.vk {
  color: var(--vk);
}
.tumblr {
  color: var(--tumblr);
}
.googleplus {
  color: var(--googleplus);
}
.pinterest {
  color: var(--pinterest);
}
.youtube {
  color: var(--youtube);
}
.stumbleupon {
  color: var(--stumbleupon);
}
.reddit {
  color: var(--reddit);
}
.quora {
  color: var(--quora);
}
.yelp {
  color: var(--yelp);
}
.weibo {
  color: var(--weibo);
}
.producthunt {
  color: var(--producthunt);
}
.hackernews {
  color: var(--hackernews);
}
.soundcloud {
  color: var(--soundcloud);
}
.blogger {
  color: var(--blogger);
}
.whatsapp {
  color: var(--whatsapp);
}
.wechat {
  color: var(--wechat);
}
.line {
  color: var(--line);
}
.medium {
  color: var(--medium);
}
.vine {
  color: var(--vine);
}
.slack {
  color: var(--slack);
}
.instagram {
  color: var(--instagram);
}
.dribbble {
  color: var(--dribbble);
}
.flickr {
  color: var(--flickr);
}
.foursquare {
  color: var(--foursquare);
}
.behance {
  color: var(--behance);
}
.snapchat {
  color: var(--snapchat);
}
/*  */

.title {
  color: var(--title);
}
.content {
  color: var(--content);
}
.sub {
  color: var(--sub-title);
}
.divider {
  color: var(--divider);
}
.background {
  color: var(--background);
}

.black-90 {
  color: var(--black-90);
}
.black-80 {
  color: var(--black-80);
}
.black-70 {
  color: var(--black-70);
}
.black-60 {
  color: var(--black-60);
}
.black-50 {
  color: var(--black-50);
}
.black-40 {
  color: var(--black-40);
}
.black-30 {
  color: var(--black-30);
}
.black-20 {
  color: var(--black-20);
}
.black-10 {
  color: var(--black-10);
}
.black-05 {
  color: var(--black-05);
}

.white-90 {
  color: var(--white-90);
}
.white-80 {
  color: var(--white-80);
}
.white-70 {
  color: var(--white-70);
}
.white-60 {
  color: var(--white-60);
}
.white-50 {
  color: var(--white-50);
}
.white-40 {
  color: var(--white-40);
}
.white-30 {
  color: var(--white-30);
}
.white-20 {
  color: var(--white-20);
}
.white-10 {
  color: var(--white-10);
}

.black {
  color: var(--black);
}
.near-black {
  color: var(--near-black);
}
.dark-gray {
  color: var(--dark-gray);
}
.mid-gray {
  color: var(--mid-gray);
}
.gray {
  color: var(--gray);
}
.silver {
  color: var(--silver);
}
.light-silver {
  color: var(--light-silver);
}
.moon-gray {
  color: var(--moon-gray);
}
.light-gray {
  color: var(--light-gray);
}
.near-white {
  color: var(--near-white);
}
.white {
  color: var(--white);
}

.dark-red {
  color: var(--dark-red);
}
.red {
  color: var(--red);
}
.light-red {
  color: var(--light-red);
}
.orange {
  color: var(--orange);
}
.gold {
  color: var(--gold);
}
.yellow {
  color: var(--yellow);
}
.light-yellow {
  color: var(--light-yellow);
}
.purple {
  color: var(--purple);
}
.light-purple {
  color: var(--light-purple);
}
.dark-pink {
  color: var(--dark-pink);
}
.hot-pink {
  color: var(--hot-pink);
}
.pink {
  color: var(--pink);
}
.light-pink {
  color: var(--light-pink);
}
.dark-green {
  color: var(--dark-green);
}
.green {
  color: var(--green);
}
.light-green {
  color: var(--light-green);
}
.navy {
  color: var(--navy);
}
.dark-blue {
  color: var(--dark-blue);
}
.blue {
  color: var(--blue);
}
.light-blue {
  color: var(--light-blue);
}
.lightest-blue {
  color: var(--lightest-blue);
}
.washed-blue {
  color: var(--washed-blue);
}
.washed-green {
  color: var(--washed-green);
}
.washed-yellow {
  color: var(--washed-yellow);
}
.washed-red {
  color: var(--washed-red);
}
.color-inherit {
  color: inherit;
}

/* Background colors */

.bg-primary {
  background-color: var(--primary);
}
.bg-light-primary {
  background-color: var(--light-primary);
}
.bg-dark-primary {
  background-color: var(--dark-primary);
}
.bg-info {
  background-color: var(--info);
}
.bg-success {
  background-color: var(--success);
}
.bg-warning {
  background-color: var(--warning);
}
.bg-error {
  background-color: var(--error);
}

.bg-title {
  background-color: var(--title);
}
.bg-content {
  background-color: var(--content);
}
.bg-sub-title {
  background-color: var(--sub-title);
}
.bg-divider {
  background-color: var(--divider);
}
.bg-background {
  background-color: var(--background);
}

.bg-black-90 {
  background-color: var(--black-90);
}
.bg-black-80 {
  background-color: var(--black-80);
}
.bg-black-70 {
  background-color: var(--black-70);
}
.bg-black-60 {
  background-color: var(--black-60);
}
.bg-black-50 {
  background-color: var(--black-50);
}
.bg-black-40 {
  background-color: var(--black-40);
}
.bg-black-30 {
  background-color: var(--black-30);
}
.bg-black-20 {
  background-color: var(--black-20);
}
.bg-black-10 {
  background-color: var(--black-10);
}
.bg-black-05 {
  background-color: var(--black-05);
}
.bg-white-90 {
  background-color: var(--white-90);
}
.bg-white-80 {
  background-color: var(--white-80);
}
.bg-white-70 {
  background-color: var(--white-70);
}
.bg-white-60 {
  background-color: var(--white-60);
}
.bg-white-50 {
  background-color: var(--white-50);
}
.bg-white-40 {
  background-color: var(--white-40);
}
.bg-white-30 {
  background-color: var(--white-30);
}
.bg-white-20 {
  background-color: var(--white-20);
}
.bg-white-10 {
  background-color: var(--white-10);
}

.bg-black {
  background-color: var(--black);
}
.bg-near-black {
  background-color: var(--near-black);
}
.bg-dark-gray {
  background-color: var(--dark-gray);
}
.bg-mid-gray {
  background-color: var(--mid-gray);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-silver {
  background-color: var(--silver);
}
.bg-light-silver {
  background-color: var(--light-silver);
}
.bg-moon-gray {
  background-color: var(--moon-gray);
}
.bg-light-gray {
  background-color: var(--light-gray);
}
.bg-near-white {
  background-color: var(--near-white);
}
.bg-white {
  background-color: var(--white);
}
.bg-transparent {
  background-color: var(--transparent);
}

.bg-dark-red {
  background-color: var(--dark-red);
}
.bg-red {
  background-color: var(--red);
}
.bg-light-red {
  background-color: var(--light-red);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-gold {
  background-color: var(--gold);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-light-yellow {
  background-color: var(--light-yellow);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-light-purple {
  background-color: var(--light-purple);
}
.bg-dark-pink {
  background-color: var(--dark-pink);
}
.bg-hot-pink {
  background-color: var(--hot-pink);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-light-pink {
  background-color: var(--light-pink);
}
.bg-dark-green {
  background-color: var(--dark-green);
}
.bg-green {
  background-color: var(--green);
}
.bg-light-green {
  background-color: var(--light-green);
}
.bg-navy {
  background-color: var(--navy);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-light-blue {
  background-color: var(--light-blue);
}
.bg-lightest-blue {
  background-color: var(--lightest-blue);
}
.bg-washed-blue {
  background-color: var(--washed-blue);
}
.bg-washed-green {
  background-color: var(--washed-green);
}
.bg-washed-yellow {
  background-color: var(--washed-yellow);
}
.bg-washed-red {
  background-color: var(--washed-red);
}
.bg-inherit {
  background-color: inherit;
}

/* Socials */

.bg-facebook {
  background-color: var(--facebook);
}
.bg-messenger {
  background-color: var(--messenger);
}
.bg-twitter {
  background-color: var(--twitter);
}
.bg-linkedin {
  background-color: var(--linkedin);
}
.bg-skype {
  background-color: var(--skype);
}
.bg-dropbox {
  background-color: var(--dropbox);
}
.bg-wordpress {
  background-color: var(--wordpress);
}
.bg-vimeo {
  background-color: var(--vimeo);
}
.bg-slideshare {
  background-color: var(--slideshare);
}
.bg-vk {
  background-color: var(--vk);
}
.bg-tumblr {
  background-color: var(--tumblr);
}
.bg-googleplus {
  background-color: var(--googleplus);
}
.bg-pinterest {
  background-color: var(--pinterest);
}
.bg-youtube {
  background-color: var(--youtube);
}
.bg-stumbleupon {
  background-color: var(--stumbleupon);
}
.bg-reddit {
  background-color: var(--reddit);
}
.bg-quora {
  background-color: var(--quora);
}
.bg-yelp {
  background-color: var(--yelp);
}
.bg-weibo {
  background-color: var(--weibo);
}
.bg-producthunt {
  background-color: var(--producthunt);
}
.bg-hackernews {
  background-color: var(--hackernews);
}
.bg-soundcloud {
  background-color: var(--soundcloud);
}
.bg-blogger {
  background-color: var(--blogger);
}
.bg-whatsapp {
  background-color: var(--whatsapp);
}
.bg-wechat {
  background-color: var(--wechat);
}
.bg-line {
  background-color: var(--line);
}
.bg-medium {
  background-color: var(--medium);
}
.bg-vine {
  background-color: var(--vine);
}
.bg-slack {
  background-color: var(--slack);
}
.bg-instagram {
  background-color: var(--instagram);
}
.bg-dribbble {
  background-color: var(--dribbble);
}
.bg-flickr {
  background-color: var(--flickr);
}
.bg-foursquare {
  background-color: var(--foursquare);
}
.bg-behance {
  background-color: var(--behance);
}
.bg-snapchat {
  background-color: var(--snapchat);
}
